.eboard.col-lg-12.pull-left
  %h3 eBoard
  %ul.abo
    - @club.leaders.each do |admin|
      %li
        .pull-left
          = link_to user_path(admin), width: '55' do
            = display_image admin.profile.image, "small"
        .pull-left
          %strong
            = link_to admin.name, user_path(admin)
          %small
            = @club.user_id == admin.id ? 'Founder' : 'Admin'
            %br/
            Law 2014
%p.mis
  Mission Statement
  %br/
  %br/
  = @club.description