.caltitle  
  %p{:style => "padding-bottom:0; float:none; font-size:22px;"}
    = link_to "<<", week_events_club_club_events_path(@club, w_begin: (w_begin - 7.days).strftime("%y%m%d")), remote: true
    = "Week of #{w_begin.strftime("%B %d, %Y")}"
    = link_to ">>", week_events_club_club_events_path(@club, w_begin: (w_begin + 7.days).strftime("%y%m%d")), remote: true
%ul.events-list.mod3
  - events.each do |event|
    %li.light
      = link_to "javascript:;", class: "evs" do
        %strong= event.on_date.strftime("%a %m.%d")
        %span
      %h3= event.title
      = event.description.html_safe
      %br
      Click for more info.