- @clubs.each do |club|
  - link_path = club.is_a?(MetropolitanClub) ? metropolitan_club_path(club) : university_club_path(@university, club)
  .music
    = link_to link_path do
      .music-img
        = image_tag club.image
    = link_to link_path do
      %span
        %strong
          = "#{truncate(club.name, length: 12)}"
          .glyphicon.glyphicon-chevron-right.btn-sm
    %p= club.description