- @clubs.each do |club|
  .music
    = link_to club_link_path(@university, club) do
      .music-img
        = image_tag club.image.album
    = link_to club_link_path(@university, club) do
      %span
        %strong
          = "#{truncate(club.name, length: 12)}"
          .glyphicon.glyphicon-chevron-right.btn-sm
    %p= club.description