- club.memberships.joins(:user).order("users.last_name,users.first_name").each do |membership|
  - if membership.user != current_user
    %li
      = link_to user_path(membership.user), class: "onw" do
        = display_image membership.user.profile.image, "small"
      %strong
        = link_to membership.user.name, user_path(membership.user)
      %small= major(membership.user)
      - if membership.user.club_admin?(club)
        = simple_form_for Membership.new, url: remove_admin_university_club_memberships_path(club.university, club) do |f|
          = f.hidden_field :user_id, value: membership.user_id
          = f.hidden_field :title, value: 'Administrator'
          = f.submit "Remove Admin", class: "btn3"
      - else
        = simple_form_for Membership.new, url: make_admin_university_club_memberships_path(club.university, club) do |f|
          = f.hidden_field :user_id, value: membership.user_id
          = f.submit "Make Admin", class: "btn3"
      = simple_form_for club, url: transfer_ownership_university_club_path(club.university, club) do |f|
        = f.hidden_field :user_id, value: membership.user_id
        = f.submit "Make Owner", class: "btn3"

