%ul.lists.mem
  - memberships.each do |membership|
    %li
      - if user_signed_in? && current_user.manage_club?(club)
        .actions
          - if transfer
            - if !membership.user.manage_club_ownership?(club)
              .ssys
                %small
                  = simple_form_for club, url: transfer_ownership_university_club_path(club.university, club) do |f|
                    = f.hidden_field :user_id, value: membership.user_id
                    = f.submit "Make Owner", class: "btng"
          - else
            - if !membership.user.manage_club_ownership?(club)
              = link_to make_admin_university_club_memberships_path(club.university, club), method: :delete, confirm: "Are you sure you want to remove the club member #{membership.user.name}?" do
                %i{:class=>'glyphicon glyphicon-remove'}
            - if membership.user.club_admin?(club)
              - unless membership.user.manage_club_ownership?(club)
                .ssys
                  %small
                    = simple_form_for Membership.new, url: remove_admin_university_club_memberships_path(club.university, club), class: 'pull-right' do |f|
                      = f.hidden_field :user_id, value: membership.user.id
                      = f.submit "Remove Admin", class: "btng"
            - else
              .ssys
                %small
                  = simple_form_for Membership.new, url: make_admin_university_club_memberships_path(club.university, club) do |f|
                    = f.hidden_field :user_id, value: membership.user.id
                    = f.text_field :title, placeholder: 'Administrator'
                    = f.submit "Make Admin", class: "btng"
      = link_to user_path(membership.user), class: "onw" do
        = display_image membership.user.profile.image, "small"
      %strong
        = link_to membership.user.name, user_path(membership.user)
      = club.user_id == membership.user.id ? 'Founder' : membership.title
      %small= major(membership.user)


