.info
  .news-letter
    - if current_user && current_user.manage_club?(@club)
      = link_to "#update-form", class: 'npost', data: {toggle: "modal", target: "#update-form"} do
        %p
          New Update
          %span &raquo;
      = render 'updates/form', update: @club.updates.build
    %h4= title
    %ul.hid
      = render partial: "clubs/update", collection: @club.updates
  #weekly.calendar
    - w_begin = DateTime.now.beginning_of_week
    = render partial: "clubs/calendar", locals: {w_begin: w_begin, events: @club.events.where(on_date: w_begin..(w_begin+6.days))}

:javascript
  $(document).ready(function(){
    $(".hid li .small").on('click', function() {
      $(this).hide();
      $(this).closest('li').find(".showa").show();
    });
    $(".showa button").on('click', function() {
      $(this).closest(".showa").hide();
      $(this).closest("li").find(".small").show();
    });
    $(document).on('click', "tr.small", function() {
      document.location = $(this).data()['url']
    })
  });