= content_for :header do
  .span10
    .page-title.bottom2
      What kind of club are you looking for?
  .span3.no-lmar
    %a#search-uni-club.btn.btn2.btn-success{style: "margin-right: 10px;", href: "javascript:;"}
      %i
        = image_tag('old_images/search-icon.png')
    %input#uni-club_field.field{name: 'search_field', type: 'text'}
  .span11
    - Club::CATEGORIES.each do |category|
      = link_to category, search_university_clubs_path(@university, club: {category: category}), class: "btn btn-inverse toggle-btn span2 top no-lmar right", remote: true
  .row-fluid
    .container
      .span10.top2
        #club-list.top2


:javascript
  $(".toggle-btn").click(function(){
    $(".toggle-btn").removeClass("btn-success");
    $(".toggle-btn").addClass("btn-inverse");
    $(this).addClass("btn-success");
    $(this).removeClass("btn-inverse");
  });

  $(document).ready(function(){
    $("#uni-club_field").keydown(function (e){
      if(e.keyCode == 13){
        $(".toggle-btn").removeClass("btn-success");
        $(".toggle-btn").addClass("btn-inverse");
        $.get("#{search_university_clubs_path(@university)}", {club: {name: $(this).val()}});
      }
    });

    $("#search-uni-club").click(function(){
      $(".toggle-btn").removeClass("btn-success");
      $(".toggle-btn").addClass("btn-inverse");
      $.get("#{search_university_clubs_path(@university)}", {club: {name: $("#uni-club_field").val()}});
    });
  });
