= content_for :page_title do
  .title
    %h1 Club
    %p
      %a#create-club-link{"data-target" => "#create_club", "data-toggle" => "modal", :href => "javascript:void(0);"} Create Your Own Club
      %span >>
= content_for :right_side do
  .info{:style => "background:url(../../assets/bg.png) repeat center top; position:relative; z-index:10; width:100%; float:left"}
    %span.btn4 My Clubs
    .con{:style => "height:790px;"}
      - current_user.clubs.each do |club|
        %a.bka{:href => "lowdown.html"}= club.name
        %a{:href => "lowdown.html"}
          = image_tag club.image.large
      - if current_user.clubs.blank?
        %p You do not belong to any clubs! Click around to join clubs that interest you.(or some directional statement here)
.clubs-inner
  %h2 What kind of club are you looking for?
  %ul.btns2
    - Club::CATEGORIES.each do |category|
      %li
        = link_to search_university_clubs_path(@university, club: {category: category}), remote: true do
          %button.btn= category

#club-list.con
  = render partial: "clubs"

#club-popup= render partial: 'form', locals: {club: @club}

:javascript
  $(".toggle-btn").click(function(){
    $(".toggle-btn").removeClass("btn-success");
    $(".toggle-btn").addClass("btn-inverse");
    $(this).addClass("btn-success");
    $(this).removeClass("btn-inverse");
  });

  $(document).ready(function(){
    $("#uni-club_field").keydown(function (e){
      if(e.keyCode == 13){
        $(".toggle-btn").removeClass("btn-success");
        $(".toggle-btn").addClass("btn-inverse");
        $.get("#{search_university_clubs_path(@university)}", {club: {name: $(this).val()}});
      }
    });

    $("#search-uni-club").click(function(){
      $(".toggle-btn").removeClass("btn-success");
      $(".toggle-btn").addClass("btn-inverse");
      $.get("#{search_university_clubs_path(@university)}", {club: {name: $("#uni-club_field").val()}});
    });
  });
