= content_for :page_title do
  = render partial: 'title'

= content_for :left_side do
  .clubs-inner
    %h2 What kind of club are you looking for?
    %ul.club-tabs
      - Club::CATEGORIES.each do |category|
        %li
          = link_to search_university_clubs_path(@university, club: {category: category}), remote: true do
            %button.btn= category

  #club-list
    = render partial: "clubs"

  #club-popup= render partial: 'clubs/form', locals: {club: @club}

= content_for :right_side do
  .my-clubs
    .btn4.text-center My Clubs
    - current_user.clubs.each do |club|
      = link_to club_link_path(@university, club) do
        .club-title= club.name
        = image_tag club.image
    - if current_user.clubs.blank?
      .no-clubs
        %p You do not belong to any clubs! Click around to join clubs that interest you.
        %br
        (or some directional statement here)


  :javascript
    $(document).ready(function(){
      $("form").submit(function(){
        $('input[type="submit"]').attr('disabled','disabled');
      });

    });
