%h1 Create Club

= simple_form_for([@university, @club]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :image, label: "Logo"
    = f.input :name
    = f.input :category
    = f.input :description
    = f.input :mission_statement

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
