= content_for :header do
  .span3
    = link_to "javascript:void(0);", class: 'mono mn' do
      = image_tag @club.image.xxlarge, class: "img-circle"
  .span5
    .carus{style: "margin-top: 200px"}
      .page-title= @club.name
  .span3.top2
    .rig
      %button.btn.btn-success.btn2.chang
        %i
          = image_tag "dropdown-arrow.png"
      = text_field_tag :join_city, "", class: "field", placeholder: "Join Club"
      %button.btn.btn-success.chang2 Upcoming Events
      .clearfix
      %button.btn.btn-success.chang3 Edit
      %button.btn.btn-success.chang3 Transactions
  .clearfix

.clearfix
.row-fluid
  .container
    .span10.offset2
      .span7
        .img-box
      %ul.listing.span3
        %li
          = link_to "", "javascript;;"
          %h4 Headline
          %p Text of the announcement or circle
        %li
          = link_to "", "javascript;;"
          %h4 Headline
          %p Text of the announcement or circle
        %li
          = link_to "", "javascript;;"
          %h4 Headline
          %p Text of the announcement or circle
        %li
          = link_to "", "javascript;;"
          %h4 Headline
          %p Text of the announcement or circle

.clearfix

.row-fluid
  .container
    .span10.offset2
      %ul.tabs2
        %li
          %a{href: "#lowdown"}Lowdown
        %li
          %a{href: "#members"}Members
        %li
          %a.mis{href: "#mission_statment"}Mission Statement
        %li
          %a{href: "#calendar"}Calendar
        %li
          %a{href: "#eboard"}E-Board
        %li
          %a{href: "#records"}Records
        %li
          %a{href: "#messages"}Messages
      .clearfix
      .tab_container
        #lowdown.tab_content
          .pull-right
            %a{href: "#add-lowdown", class: 'btn btn-success', data: {toggle: "modal"}, style: "margin-right: 62px; margin-top: 10px;"} Add Lowdown
            #add-lowdown.modal.hide
              = simple_form_for([@university, @club, Status.new]) do |f|
                .modal-header
                  %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
                  %h3 Add Lowdown
                .modal-body
                  = f.input :status, label: false, as: :text, input_html: {cols: 800, rows: 2, class: 'span-8'}
                .modal-footer
                  %a{href: "#", class: "btn", data: {dismiss: "modal"}} Close
                  = f.submit "Save Lowdown", class: "btn btn-success"
          %ul.posts.newp
            - @club.statuses.reverse.each do |status|
              %li
                = link_to image_tag(status.user.profile.image_url), user_path(status.user), class: "avatr"
                %p= status.status
                .com.ncom
                  = time_ago_in_words(status.created_at)
                  ago
                  %br
                  - if @club.admins.include?(current_user)
                    = link_to "Delete", university_club_status_path(@university, @club, status), method: :delete, class: "btn btn-mini btn-danger"
                .clearfix
        #members.tab_content
        #mission_statement.tab_content
        #calendar.tab_content
        #eboard.tab_content
        #records.tab_content
        #messages.tab_content
.clearfix


:javascript
  jQuery(document).ready(function() {//Default Action
    $(".tab_content").hide(); //Hide all content
    $("ul.tabs2 li:first").addClass("active").show(); //Activate first tab
    $(".tab_content:first").show(); //Show first tab content

    //On Click Event
    $("ul.tabs2 li").click(function() {
      $("ul.tabs2 li").removeClass("active"); //Remove any "active" class
      $("ul.tabs2 a").removeClass("selected");
      $(this).addClass("active"); //Add "active" class to selected tab
      jQuery(this).children("a").addClass('selected');
      //console.log($(this).toSource());
      $(".tab_content").hide(); //Hide all tab content
      var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
      $(activeTab).fadeIn(); //Fade in the active content
      return false;
    });
    $('.slider4').bxSlider({
      slideWidth: 300,
      minSlides: 2,
      maxSlides: 3,
      moveSlides: 1,
      slideMargin: 10
    });
  });
