= content_for :top_background do
  .top-background

= content_for :left_menu do
  %ul
    %li
      %i
      = link_to "#messages-popup", :"data-toggle" => "modal" do
        = image_tag('message.png')
        %br
        Messages
    %li
      %i
      = link_to "#requests-popup", :"data-toggle" => "modal" do
        %p= @requests.size
        = image_tag "request.png"
        %br
        Requests
    %li
      %i
      = link_to "javascript:;" do
        %p 1
        = image_tag "request.png"
        %br
        Notifications
.span8
  = link_to "javascript:;", class: "mono" do
    = image_tag "mono3.png"
  .mono2
    %h1= @club.name
  .clearfix
  .img-box
.span3
  .rig
    %button.btn.btn2.chang
      %i
        = image_tag "dropdown-arrow.png"
    = text_field_tag :join_city, "", class: "field", placeholder: "Join Club"
    %button.btn.chang2 Upcoming Events
    .clearfix
    %button.btn.chang3 Edit
    %button.btn.chang3 Transactions
  .offset1
  .clearfix
  %ul.listing
    %li
      = link_to "", "javascript;;"
      %h4 Headline
      %p Text of the announcement or circle
    %li
      = link_to "", "javascript;;"
      %h4 Headline
      %p Text of the announcement or circle
    %li
      = link_to "", "javascript;;"
      %h4 Headline
      %p Text of the announcement or circle
    %li
      = link_to "", "javascript;;"
      %h4 Headline
      %p Text of the announcement or circle

.clearfix

.row-fluid
  .container
    .span10
      %ul.tabs2
        %li
          %a{href: "#tab1"}Lowdown
        %li
          %a{href: "#tab2"}Members
        %li
          %a.mis{href: "#tab3"}Mission Statement
        %li
          %a{href: "#tab4"}Calendar
        %li
          %a{href: "#tab5"}E-Board
        %li
          %a{href: "#tab6"}Records
        %li
          %a{href: "#tab7"}Messages
      .clearfix
      .tab_container
        #tab1.tab_content
          %ul.posts.newp
            - 3.times do
              %li
                %a.avatr{href: "javascript:;"}
                %p The Official Davidson Club is happy to announce that it has reached over 3,000 members! To repay all the support from our fans we'd like to give away a 15% coupon code to the book store.
                %a.com.ncom{href: "javascript:;"} 1 day ago
                .clearfix
        #tab2.tab_content
        #tab3.tab_content
        #tab4.tab_content
        #tab5.tab_content
        #tab6.tab_content
        #tab7.tab_content
.clearfix

#messages-popup.modal.mod4.hide.fade{tabindex: "-1", role: "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true", style: "top: 180px"}
  .modal-body
    %span.arr
      =image_tag "popup-arrow.png"
    .left-side.msh
      %a{href: "#message-form", data: {toggle: "modal"}, class: "btn btn-success"} New Message
      %ul.msg
        - @messages.each do |message|
          %li{id: "message-#{message.id}"}
            = link_to image_tag(message.originator.profile.image.small), read_message_path(message), remote: true
            %h4= message.originator.full_name
            %br
            %p= truncate(message.messages.first.body)
    #current_conversation.right-side
  .clearfix
  .modal-footer
    %button.btn{type: "button", data: {dismiss: "modal"}} Close

#requests-popup.modal.hide.fade{tabindex: "-1", role: "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true", style: "top: 360px"}
  .modal-body{style: "min-height: 200px;"}
    %span.arr
      =image_tag "popup-arrow.png"
    - if @requests.blank?
      %br
      .span11.top2
        %center
          %h4 No request
    - else
      .left-side
        %ul.msg.msh
          - @requests.each do |relationship|
            %li{id: "request-#{relationship.id}"}
              = link_to image_tag("#{relationship.relation.profile.image.thumb}"), read_relationship_path(relationship), remote: true
              %h4= relationship.relation.full_name
              %br
              %p= relationship.relation.graduation_year
      .right-side
        #current_request.comment-box.ne
          = render partial: "relationships/request", locals: {request: @requests.first} unless @requests.blank?
  .clearfix
  .modal-footer
    %button.btn{type: "button", data: {dismiss: "modal"}} Close
:javascript
  jQuery(document).ready(function() {//Default Action
    $(".tab_content").hide(); //Hide all content
    $("ul.tabs2 li:first").addClass("active").show(); //Activate first tab
    $(".tab_content:first").show(); //Show first tab content
    
    //On Click Event
    $("ul.tabs2 li").click(function() {
      $("ul.tabs2 li").removeClass("active"); //Remove any "active" class
      $("ul.tabs2 a").removeClass("selected");
      $(this).addClass("active"); //Add "active" class to selected tab
      jQuery(this).children("a").addClass('selected');
      //console.log($(this).toSource());
      $(".tab_content").hide(); //Hide all tab content
      var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
      $(activeTab).fadeIn(); //Fade in the active content
      return false;
    });
    $('.slider4').bxSlider({
      slideWidth: 300,
      minSlides: 2,
      maxSlides: 3,
      moveSlides: 1,
      slideMargin: 10
    });
  });