= content_for :page_title do
  .title
    %h1 Club
    %p
      %a#create-club-link{"data-target" => "#create_club", "data-toggle" => "modal", :href => "javascript:void(0);"} Create Your Own Club
      %span >>
= content_for :right_side do
  = render partial: "news_cal_side"
  

.rub-club{style: "background: url(#{@club.image}) no-repeat; height: 320px;"}
  %button.btn9= @club.name
  - if !@club.private? && current_user.joinable?(@club)
    = link_to join_club_path(@club) do 
      %button.btn10 Join Club
%ul.sub-nav
  %li= link_to "Lowdown", "javascript:;", class: "current"
  %li= link_to "Members", "javascript:;"
  %li= link_to "About", "javascript:;"
  %li= link_to "Money", "javascript:;"
  %li= link_to "Photos", "javascript:;"

- unless current_user.member_of?(@club)
  .cent
    %p
      This content is retricted.
      %br
      Join club to view lowndown.
    - unless @club.private?
      = link_to "javascript:;" do
        %button.btn9.mod2 Join Club
    .clearfix
- else
  .cent{style: "margin: 0; background-color: #f7f7f7;"}
    .post
      - if current_user.manage_club?(@club)
        = link_to "#post-form", class: "npost", data: {toggle: "modal"} do
          New Post
          %span >>
      %ul.lat-posts
        - @posts.each do |post|
          %li.light
            .col-lg-3
              = link_to "javascript:;", class: "img2" do
                = image_tag(post.user.profile.image.url || "post-img.png")
            .col-lg-9
              %h3
                = link_to post.user.name
              %br
              %span= post.content
              %br
              = link_to "Post comment", "javascript:;", class: "po-cm"
              .comments.top.hide{id: "post#{post.id}-comments"}
                %span
                  - post.comments.each do |comment|
                    = render partial: "comments/comment", locals: {comment: comment}
                .top2
                  = simple_form_for [post, Comment.new], remote: true do |f|
                    = f.input :comment, as: :text, label: false, input_html: {class: "col-lg-12", rows: 4}
                    = f.submit "Post", class: "btn btn-sm btn-success top"
#club-popup= render partial: 'form', locals: {club: @club}

- new_post = @club.posts.build
= render partial: "posts/form", locals: {post: new_post}

- if current_user.manage_club?(@club)
  - new_update = @club.updates.build
  = render partial: 'updates/form', locals: {update: new_update}

:javascript
  $("document").ready(function(){
    $('.po-cm').click(function(){
      $(this).closest("li").find(".comments").toggleClass("hide");
    });
  });
