.row-fluid
  .span8
    .pull-left{style: "margin-top: 20px;margin-right: 20px;"}
      = image_tag @club.image.thumb.url if @club.image?
    %h1
      = [@university.name, @club.name].join(' - ')

    %p
      %b Category:
      = @club.category
    %p
      %b Description:
      = @club.description
  .span4
    - unless @club.private? || !current_user
      %ul.inline.pull-right
        - if @club.user_id == current_user.id
          %li= link_to "Edit", edit_university_club_path(@university), class: "btn btn-primary"
        %li= link_to "Join", university_club_memberships_path(@university, @club, @membership), :method => :post, class: 'btn btn-primary'
        %li= link_to "Invite", new_university_club_invitation_path(@university, @club), class: 'btn btn-success'

.row-fluid.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{href: "#lowdown", data: {toggle: "tab"}} Lowdown
    %li
      %a{href: "#members", data: {toggle: "tab"}} Members
    %li
      %a{href: "#mission_statement", data: {toggle: "tab"}} Mission Statement
    %li
      %a{href: "#calendar", data: {toggle: "tab"}} Calendar
    %li
      %a{href: "#records", data: {toggle: "tab"}} Records
    %li
      %a{href: "#e_board", data: {toggle: "tab"}} E-Board
  .tab-content.clearfix
    #lowdown.tab-pane.active
      <p>This is where lowdown goes</p>
    #members.tab-pane
      %ul
        - @members.each do |member|
          %li= link_to member.full_name, user_path(member)
    #mission_statement.tab-pane
      .pull-right
        %a{href: "#edit_mission_statement", class: "btn btn-primary", data: {toggle: "modal"}} Edit
      = @club.mission_statement
      - if @club.user_id == current_user.id
        #edit_mission_statement.modal.hide
          = simple_form_for([@university, @club]) do |f|
            .modal-header
              %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
              %h3 Edit Mission Statement
            .modal-body
              =f.input :mission_statement, input_html: {cols: 100, rows: 10, style: "width: 500px; height: 100px;"}
            .modal-footer
              %a{href: "#", class: "btn"} Close
              =f.submit "Save Mission Statement", class: "btn btn-primary"
    #calendar.tab-pane
      <p>This is where calendar goes</p>
    #records.tab-pane
      <p>This is where records go.</p>
    #e_board.tab-pane
      <p>This is where eboard goes.</p>
      
