= content_for :header do
  .span3
    = link_to "javascript:void(0);", class: 'mono' do
      = display_image @club.image, "xxlarge"
  .span5
    .page-title.top200{style: "color: #fff;"}= @club.name
  .span3{style: "min-height: 210px;"}
    .rig
      .top4.fright{style: "margin-right: 0"}
        = link_to "Join Club", "javascript:;", class: "btn btn-success"
      %br
      .span12
        .top4.bottom2.fright{style: "margin-right: 0"}
          %a.btn.btn-success{href: "#invite-contact", data: {toggle: "modal"}} Invite Contacts
      .span12
        .top4.fright{style: "margin-right: 0"}
          - if current_user.super_admin? || current_user.university_admin? || @club.admins.include?(current_user)
            = link_to "Edit", edit_university_club_path(@university, @club), class: "btn btn-success"
.clearfix
.row-fluid
  .container
    .span10.offset2
      .span8
        .image-box
          - if @club.updates.size > 0 && @club.updates.first.image_url
            - src = @club.updates.first.image_url if @club.updates.first
          - else
            - src = @club.image_url
          %a.thumbnail{style: "min-height: 400px;"}
            = image_tag src, id: "feature-image", class: "feature-image"
      .span3
        %ul.listing
          = render partial: "update", collection: @club.updates
          - if @club.admins.include?(current_user)
            %li.text-right{style: "border: 0px;"}
              %a{href: "#add-update", class: "btn btn-success", data: {toggle: "modal"}, style: "height: 20px; width: 100px;"} Add Newsletter
        .clearfix
.clearfix

.row-fluid
  .container
    .span10.offset2
      %ul.tabs2
        %li
          %a{href: "#lowdown"}Lowdown
        %li
          %a{href: "#members"}Members
        %li
          %a.mis{href: "#mission_statement"}Mission Statement
        %li
          %a{href: "#calendar"}Calendar
        %li
          %a{href: "#eboard"}E-Board
        %li
          %a{href: "#records"}Records
        /%li
        /  %a{href: "#messages"}Messages
      .clearfix
      .tab_container
        #lowdown.tab_content
          .pull-right
            %a{href: "#add-lowdown", class: 'btn btn-success chang3', data: {toggle: "modal"}, style: "margin-right: 62px; margin-top: 10px;"} Add Lowdown
            #add-lowdown.modal.hide
              = simple_form_for([@university, @club, Status.new]) do |f|
                .modal-header
                  %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
                  %h3 Add Lowdown
                .modal-body
                  = f.input :status, label: false, as: :text, input_html: {cols: 800, rows: 2, class: 'span-8'}
                .modal-footer
                  %a{href: "#", class: "btn", data: {dismiss: "modal"}} Close
                  = f.submit "Save Lowdown", class: "btn btn-success"
          %ul.posts.newp
            - @club.statuses.reverse.each do |status|
              %li
                = link_to user_path(status.user) do
                  = display_image status.user.profile.image, "thumb"
                %p= status.status
                .com.ncom
                  = time_ago_in_words(status.created_at)
                  ago
                  %br
                  - if @club.admins.include?(current_user)
                    = link_to "Delete", university_club_status_path(@university, @club, status), method: :delete, class: "btn btn-mini btn-danger"
                .clearfix
        #members.tab_content
          %ul{style: "margin-top: 20px; margin-left: 5px;"}
            - @memberships.each do |membership|
              %li.pull-left.right
                = link_to user_path(membership.user) do
                  = display_image membership.user.profile.image, "thumb"
                %br
                .left2= link_to membership.user.full_name, user_path(membership.user)
                - if @club.user_id == current_user.id
                  - if membership.user.id != current_user.id
                    .left2= link_to "Delete", university_club_membership_path(@university, @club, membership.id), method: :delete, class: 'btn btn-mini btn-danger', confirm: "Are you sure?"
        #mission_statement.tab_content
          - if @club.admins.include?(current_user)
            .pull-right
              %a{href: "#edit_mission_statement", class: "btn btn-success chang3", data: {toggle: "modal"}, style: "margin-right: 62px; margin-top: 10px;" } Edit
          %p{style: "margin-left: 5px; margin-top: 20px;"}= @club.mission_statement
          - if @club.admins.include?(current_user)
            #edit_mission_statement.modal.hide
              = simple_form_for([@university, @club]) do |f|
                .modal-header
                  %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
                  %h3 Edit Mission Statement
                .modal-body
                  =f.input :mission_statement, input_html: {cols: 100, rows: 10, style: "width: 500px; height: 100px;"}
                .modal-footer
                  %a{href: "#", class: "btn", data: {dismiss: "modal"}} Close
                  =f.submit "Save Mission Statement", class: "btn btn-success"
        #calendar.tab_content
          / if @club.admins.include?(current_user)
          .pull-right
            %a{href: "#add_event", class: "btn btn-success chang3", data: {toggle: "modal"}, style: "margin-right: 62px; margin-top: 10px;"} Add Event
          - @club.events.each do |ce|
            %strong= "#{ce.date} #{ce.time}"
            = ce.title
            - if @club.admins.include?(current_user)
              %a{href:"#edit-event-#{ce.id}", data: {toggle: "modal"}, class: "btn btn-success"} Edit
              = link_to("Delete", university_club_club_event_path(@university, @club, ce), method: :delete, confirm: "Are you sure?")
              .modal.hide{id: "edit-event-#{ce.id}"}
                = simple_form_for([@university, @club, ce], html: {class: 'form-horizontal'}) do |f|
                  .modal-header
                    %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
                    %h3 Edit Event - #{ce.title}
                  .modal-body
                    = f.input :title
                    -# Probably need a calendar picker
                    = f.input :date
                    -# Probably need a time picker
                    = f.input :time
                    = f.input :location
                    = f.input :description
                    = f.input :category, as: :category
                    = f.input :image, as: :file
                  .modal-footer
                    = f.submit "Save Event", class: "btn btn-success"
          / if @club.admins.include?(current_user)
          #add_event.modal.hide
            = simple_form_for([@university, @club, Event.new], html: {class: 'form-horizontal'}) do |f|
              .modal-header
                %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
                %h3 Add Event
              .modal-body
                = f.input :title
                = f.input :date, as: :string, label: "Date", input_html: {class: "datepicker"}
                = f.input :time, label: "Time", as: :time, ampm: true, minute_step: 5, default: {hour: 0, minute: 0},input_html: {style: "width: 80px"}
                = f.input :location
                = f.input :description, as: :text, input_html: {rows: 2}
                = f.input :category, as: :category
                = f.input :image, as: :file
                #display_uc
                  = f.input :display_on_uc, inline_label: 'Add to University Calendar?', label: false, as: :boolean
                .clearfix
              .modal-footer
                = f.submit "Add Event", class: "btn btn-success"
        #eboard.tab_content
          - if @club.admins.include?(current_user)
            .pull-right
              %a{href: "#add-admin", class: "btn btn-success ", data: {toggle: "modal"}, style: "margin-right: 62px; margin-top: 10px;"} Add E-Board Member
              - if @club.user_id == current_user.id
                %br
                %br
                %a{href: "#transfer-ownership", class: "btn btn-danger", data: {toggle: "modal"}} Transfer
              #add-admin.modal.hide
                = simple_form_for Membership.new, url: make_admin_university_club_memberships_path(@university, @club) do |f|
                  .modal-header
                    %button{type: "button", class: "close", data: {dismiss: 'modal'}} &times;
                    %h3 Add E-Board member
                  .modal-body
                    = f.input :user_id, collection: @non_admins, label_method: :full_name, value_method: :id
                    = f.input :title
                  .modal-footer
                    = f.submit "Add E-Board Member", class: "btn btn-success"
          .span12.top2
            - @admins.each do |admin|
              - unless admin.user.super_admin? || admin.user.university_admin?
                .pull-left.right
                  = display_image admin.user.profile.image, "thumb"
                  %br
                  .left2= admin.user.full_name
                  %br
                  .left2= admin.title
        #records.tab_content
          .pull-right
            - if @club.admins.include?(current_user)
              %a{href: "#add-record", class: 'btn btn-success chang3', data: {toggle: "modal"}, style: "margin-right: 62px; margin-top: 10px;"} Add Record
          - @club.records.each do |record|
            - unless record.file.url.nil?
              = record.file.url.split("/").last
              = link_to "Download", record.file.url
              - if @club.admins.include?(current_user)
                = link_to "Delete", university_club_record_path(@university, @club, record), method: :delete, confirm: "Are you sure?", class: "btn btn-danger btn-mini"
            %br
          #add-record.modal.hide
            = simple_form_for([@university, @club, Record.new]) do |f|
              .modal-header
                %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
                %h3 Add Record
              .modal-body
                = f.input :file, as: :file
              .modal-footer
                = f.submit "Add Record", class: "btn btn-success"
        #messages.tab_content
.clearfix

#invite-contact.modal.hide
  = simple_form_for Invitation.new, url: university_club_invitations_path(@university.id, @club.id) do |f|
    .modal-header
      %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
      %h3 Invite Contact 
    .modal-body
      = f.input :recipient_id, collection: current_user.contacts, label: "Contact", label_method: :full_name, value_method: :id
    .modal-footer
      = f.submit "Invite Contact", class: "btn btn-success"

- if @club.admins.include?(current_user)
  #add-update.modal.hide
    = simple_form_for Update.new, url: university_club_club_newsletters_path(@university, @club), method: :post do |f|
      .modal-header
        %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
        %h3 Add Newsletter
      .modal-body
        = f.input :headline
        = f.input :image, as: :file, input_html: {class: 'span-8'}
        = f.input :body, as: :text, input_html: {cols: 800, rows: 10, class: 'span-8'}
      .modal-footer
        = f.submit "Add Newsletter", class: "btn btn-success"

- if @club.user_id == current_user.id
  #transfer-ownership.modal.hide
    = simple_form_for @club, url: transfer_ownership_university_club_path(@university, @club), method: :post do |f|
      .modal-header
        %button{type: "button", class: "close", data: {dismiss: :modal}} &times;
        %h3 Transfer Ownership
      .modal-body
        = f.input :user_id, collection: @club.admins, label_method: :full_name, value_method: :id
      .modal-footer
        = f.submit "Transfer Ownership", class: "btn btn-success"

:javascript
  jQuery(document).ready(function() {//Default Action
    $(".tab_content").hide(); //Hide all content
    $("ul.tabs2 li:first").addClass("active").show(); //Activate first tab
    $(".tab_content:first").show(); //Show first tab content

    //On Click Event
    $("ul.tabs2 li").click(function() {
      $("ul.tabs2 li").removeClass("active"); //Remove any "active" class
      $("ul.tabs2 a").removeClass("selected");
      $(this).addClass("active"); //Add "active" class to selected tab
      jQuery(this).children("a").addClass('selected');
      //console.log($(this).toSource());
      $(".tab_content").hide(); //Hide all tab content
      var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
      $(activeTab).fadeIn(); //Fade in the active content
      return false;
    });
    $('.slider4').bxSlider({
      slideWidth: 300,
      minSlides: 2,
      maxSlides: 3,
      moveSlides: 1,
      slideMargin: 10
    });

    $(".update-image").click(function(){
      $("#feature-image").attr("src", $(this).data("src"));
    });
  });
