.row-fluid
  .span8
    .pull-left{style: "margin-top: 20px;margin-right: 20px;"}
      = image_tag @club.image.thumb.url if @club.image?
    %h1
      = [@university.name, @club.name].join(' - ')

    %p
      %b Category:
      = @club.category
    %p
      %b Description:
      = @club.description
  .span4
    - unless @club.private? || !current_user
      %ul.inline.pull-right
        - if @club.user_id == current_user.id
          %li= link_to "Edit", edit_university_club_path(@university), class: "btn btn-primary"
        - unless @current_membership 
          %li= link_to "Join", university_club_memberships_path(@university, @club, @membership), :method => :post, class: 'btn btn-primary'
        %li= link_to "Invite", new_university_club_invitation_path(@university, @club), class: 'btn btn-success'

.row-fluid
  - if @club.user_id == current_user.id
    .pull-right
      %a{href: "#add_photo", class: "btn btn-primary", data: {toggle: "modal"}} Add Photo
      #add_photo.modal.hide
        = simple_form_for([@university, @club, ClubPhoto.new]) do |f|
          .modal-header
            %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
            %h3 Add Photo
          .modal-body
            =f.input :image, as: :file
          .modal-footer
            =f.submit "Add Photo", class: "btn btn-primary"
    .row.clearfix
      - @club.club_photos.each do |photo|
        .pull-left
          = image_tag photo.image.thumb.url
          - if @club.user_id == current_user.id
            %br
            = link_to "Delete", university_club_club_photo_path(@university, @club, photo), method: :delete, confirm: "Are you sure?"
.row-fluid.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{href: "#lowdown", data: {toggle: "tab"}} Lowdown
    %li
      %a{href: "#members", data: {toggle: "tab"}} Members
    %li
      %a{href: "#mission_statement", data: {toggle: "tab"}} Mission Statement
    %li
      %a{href: "#calendar", data: {toggle: "tab"}} Calendar
    %li
      %a{href: "#records", data: {toggle: "tab"}} Records
    %li
      %a{href: "#e_board", data: {toggle: "tab"}} E-Board
  .tab-content.clearfix
    #lowdown.tab-pane.active
      <p>This is where lowdown goes</p>
    #members.tab-pane
      %ul
        - @memberships.each do |membership|
          %li
            = link_to membership.user.full_name, user_path(membership.user)
            - if @club.user_id == current_user.id 
              - if @club.user_id == current_user.id && membership.admin? && current_user.id != membership.user_id
                = link_to "Remove Admin", remove_admin_university_club_membership_path(@university, @club, membership.id), class: 'btn btn-mini btn-danger', method: :post
              - if !membership.admin?
                = link_to "Make Admin", make_admin_university_club_membership_path(@university, @club, membership.id), class: 'btn btn-mini', method: :post
              - if membership.user.id != current_user.id
                = link_to "Delete", university_club_membership_path(@university, @club, membership.id), method: :delete, class: 'btn btn-mini btn-danger', confirm: "Are you sure?"
            
    #mission_statement.tab-pane
      .pull-right
        %a{href: "#edit_mission_statement", class: "btn btn-primary", data: {toggle: "modal"}} Edit
      = @club.mission_statement
      - if @club.user_id == current_user.id
        #edit_mission_statement.modal.hide
          = simple_form_for([@university, @club]) do |f|
            .modal-header
              %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
              %h3 Edit Mission Statement
            .modal-body
              =f.input :mission_statement, input_html: {cols: 100, rows: 10, style: "width: 500px; height: 100px;"}
            .modal-footer
              %a{href: "#", class: "btn"} Close
              =f.submit "Save Mission Statement", class: "btn btn-primary"
    #calendar.tab-pane
      - if @club.user_id == current_user.id
        .pull-right
          %a{href: "#add_event", class: "btn btn-primary", data: {toggle: "modal"}} Add Event
        - @club.club_events.each do |ce|
          %strong= "#{ce.date} #{ce.time}"
          = ce.title
          %a{href:"#edit-event-#{ce.id}", data: {toggle: "modal"}} Edit
          = link_to("Delete", university_club_club_event_path(@university, @club, ce), method: :delete, confirm: "Are you sure?")
          .modal.hide{id: "edit-event-#{ce.id}"}
            = simple_form_for([@university, @club, ce], html: {class: 'form-horizontal'}) do |f|
              .modal-header
                %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
                %h3 Edit Event - #{ce.title}
              .modal-body
                = f.input :title
                -# Probably need a calendar picker
                = f.input :date
                -# Probably need a time picker
                = f.input :time
                = f.input :location
                = f.input :description
                = f.input :category, as: :category 
                = f.input :image, as: :file
              .modal-footer
                = f.submit "Add Event", class: "btn btn-primary"
        #add_event.modal.hide
          = simple_form_for([@university, @club, ClubEvent.new], html: {class: 'form-horizontal'}) do |f|
            .modal-header
              %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
              %h3 Add Event
            .modal-body
              = f.input :title
              -# Probably need a calendar picker
              = f.input :date
              -# Probably need a time picker
              = f.input :time
              = f.input :location
              = f.input :description
              = f.input :category, as: :category 
              = f.input :image, as: :file
            .modal-footer
              = f.submit "Add Event", class: "btn btn-primary"
    #records.tab-pane
      <p>This is where records go.</p>
    #e_board.tab-pane
      - @admins.each do |admin|
        .pull-left
          = image_tag admin.user.profile.image.thumb.url
          %br
          = admin.user.full_name
      
