= javascript_include_tag 'static/about'

.no-margin.col-md-6
  .title
    %h1 Clubs
    %p
      %a{"data-target" => "#create_club", "data-toggle" => "modal", :href => "#"} Create Your Own Club
      %span >>
  .run-club{:style => "background:url(../../assets/running-club-img.png) no-repeat; height:320px;"}
    %button.btn9{:name => "btn"} Running Club
    %button.btn10{:name => "btn"} Join Club

  = render 'static_pages/club_navigation'

  .members{:style => "padding-top:0;"}
    .eboard
      %h3 eBoard
      %ul.abo
        %li
          = link_to image_tag('profile-img.png'), '#', width: '55'
          %strong
            = link_to 'nik thomas', '#'
          %small
            Founder
            %br/
            Law 2014
        %li
          = link_to image_tag('profile-img.png'), '#', width: '55'
          %strong
            = link_to 'nik thomas', '#'
          %small
            Founder
            %br/
            Law 2014
        %li
          = link_to image_tag('profile-img.png'), '#', width: '55'
          %strong
            = link_to 'nik thomas', '#'
          %small
            Founder
            %br/
            Law 2014
    / eboard
    %p.mis
      Mission Statement
      %br/
      %br/
      Lorem dolor sit amet, consectetuer adipiscing elit, sed diam nonuy. Lorem ipsum dolor sit amet, conetuer adipiscing elit, sed diam nonummy nibh euaismod tincidunt ut laoreet dolore magna alaarhiquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate Records
      %br/
      %br/
      %a{:href => "#"} 12.8.13
      Lorem dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
      %a{:href => "#"} Download PDF
      %br/
      %br/
      %a{:href => "#"} 11.18.13
      Ipsum dolor sit amet, ectetuer adipiscing elit, sed diam nonummy.
      %a{:href => "#"} Download PDF
      %br/
      %br/
      %a{:href => "#"} 10.4.13
      Adipiscing elit, sed diam nonummy.
      %a{:href => "#"} Download PDF
      %br/
      %br/
      %a{:href => "#"} 10.4.13
      Adipiscing elit, sed diam nonummy.
      %a{:href => "#"} Download PDF
      %br/
      %br/
      %a{:href => "#"} 10.4.13
      Adipiscing elit, sed diam nonummy.
      %a{:href => "#"} Download PDF
      %br/
      %br/
      %a{:href => "#"} 10.4.13
      Adipiscing elit, sed diam nonummy.
      %a{:href => "#"} Download PDF
      %br/
      %br/
      %a{:href => "#"} 10.4.13
      Adipiscing elit, sed diam nonummy.
      %a{:href => "#"} Download PDF
      %br/
      %br/
      %a{:href => "#"} 10.4.13
      Adipiscing elit, sed diam nonummy.
      %a{:href => "#"} Download PDF
      %br/
      %br/
      %a{:href => "#"} 10.4.13
      Adipiscing elit, sed diam nonummy.
      %a{:href => "#"} Download PDF
      %br/
      %br/
  / members
  .clearfix
/ col-lg-6
.no-margin.col-md-4
  = render 'shared/search'
  = render 'static_pages/newsletter'
  = render 'static_pages/calendar'

= render 'shared/create_club'
