= content_for :head do
  = javascript_include_tag 'static/about'

= content_for :page_title do
  .title
    %h1 Clubs
    %p
      %a{"data-target" => "#create_club", "data-toggle" => "modal", :href => "#"} Create Your Own Club
      %span >>

= content_for :left_side do
  .run-club{:style => "background:url(../../assets/running-club-img.png) no-repeat; height:320px;"}
    %button.btn9{:name => "btn"} Running Club
    %button.btn10{:name => "btn"} Join Club

  = render 'static_pages/club_navigation'

  .members{:style => "padding-top:0;"}
    .eboard
      %h3 eBoard
      %ul.abo
        %li
          = link_to image_tag('profile-img.png'), '#', width: '55'
          %strong
            = link_to 'nik thomas', '#'
          %small
            Founder
            %br/
            Law 2014
        %li
          = link_to image_tag('profile-img.png'), '#', width: '55'
          %strong
            = link_to 'nik thomas', '#'
          %small
            Founder
            %br/
            Law 2014
        %li
          = link_to image_tag('profile-img.png'), '#', width: '55'
          %strong
            = link_to 'nik thomas', '#'
          %small
            Founder
            %br/
            Law 2014
    / eboard
    %p.mis
      Mission Statement
      %br/
      %br/
      Lorem dolor sit amet, consectetuer adipiscing elit, sed diam nonuy. Lorem ipsum dolor sit amet, conetuer adipiscing elit, sed diam nonummy nibh euaismod tincidunt ut laoreet dolore magna alaarhiquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate Records

= content_for :right_side do
  = render 'static_pages/newsletter'
  = render 'static_pages/calendar'

= render 'shared/create_club'
