#ssp3.col-lg-6
  .title
    %h1 Clubs
    %p
      %a{"data-target" => "#create_club", "data-toggle" => "modal", :href => "javascript:void(0);"} Create Your Own Club
      %span >>

  .clubs-inner
    %h2 What kind of club are you looking for?
    %ul.btns2
      %li
        %button.btn{:name => "btn"} Arts
      %li
        %button.btn{:name => "btn"} Academic
      %li
        %button.btn{:name => "btn"} Alumni
      %li
        %a{:href => "running-club.html"}
          %button.btn{:name => "btn"} Health
      %li
        %button.btn{:name => "btn"} Gender
      %li
        %button.btn{:name => "btn"} Recreational
      %li
        %button.btn{:name => "btn"} Union Board
      %li
        %button.btn{:name => "btn"} Media
      %li
        %button.btn{:name => "btn"} Student Govt.
      %li
        %button.btn{:name => "btn"} Performance
      %li
        %button.btn{:name => "btn"} Social
  / clubs-inner
  .con
    .music
      .music-img
        = link_to image_tag('running-club-img.png'), 'running-club.html'
      / music-img
      %a{:href => "running-club.html"}
        %span
          %strong Running Club >>
      %p Summary about club here.

    .music
      .music-img
        = link_to image_tag('club-img.png'), 'running-club.html'
      / music-img
      %a{:href => "running-club.html"}
        %span
          %strong Running Club >>
      %p Summary about club here.

#mar.col-lg-4
  #ssp4
    = render 'shared/search'
    .info{:style => "background:url(../../assets/bg.png) repeat center top; position:relative; z-index:10; width:100%; float:left"}
      %span.btn4 My Clubs
      .con{:style => "height:790px;"}
        %a.bka{:href => "lowdown.html"} Davidson Chicago
        %a{:href => "lowdown.html"}
          = image_tag('side-club.png')
        %p You do not belong to any clubs! Click around to join clubs that interest you.(or some directional statement here)

= render 'shared/create_club'

:javascript
  $(document).ready(function(){
    $('.selectyze2').Selectyze({
        theme : 'mac'
    });
    $('#selector').gentleSelect(); // apply gentleSelect with default options
    $('#selector2').gentleSelect(); // apply gentleSelect with default options
  });
