= stylesheet_link_tag 'static/clubs'
= stylesheet_link_tag 'static/buttons'
= javascript_include_tag 'static/clubs'

.no-margin.col-md-6
  .title
    %h1 Clubs
    %p
      %a{"data-target" => "#create_club", "data-toggle" => "modal", :href => "#"} Create Your Own Club
      %span >>

  .clubs-inner
    %h2 What kind of club are you looking for?
    %ul.inline
      %li= link_to 'Arts', '', class: 'btn btn-lg'
      %li
        %button.btn{:name => "btn"} Academic
      %li
        %button.btn{:name => "btn"} Alumni
      %li
        %a{:href => "running-club.html"}
          %button.btn{:name => "btn"} Health
      %li
        %button.btn{:name => "btn"} Gender
      %li
        %button.btn{:name => "btn"} Recreational
      %li
        %button.btn{:name => "btn"} Union Board
      %li
        %button.btn{:name => "btn"} Media
      %li
        %button.btn{:name => "btn"} Student Govt.
      %li
        %button.btn{:name => "btn"} Performance
      %li
        %button.btn{:name => "btn"} Social
  / clubs-inner
  .div
    .music
      .music-img
        = link_to image_tag('running-club-img.png'), 'running-club.html'
      / music-img
      %a{:href => "running-club.html"}
        %span
          %strong Running Club >>
      %p Summary about club here.

    .music
      .music-img
        = link_to image_tag('club-img.png'), 'running-club.html'
      / music-img
      %a{:href => "running-club.html"}
        %span
          %strong Running Club >>
      %p Summary about club here.

.no-margin.col-md-4
  = render 'shared/search'
  .info
    %span.btn4 My Clubs
    .div
      %a.bka{:href => "lowdown.html"} Davidson Chicago
      %a{:href => "lowdown.html"}
        = image_tag('side-club.png')
      %p You do not belong to any clubs! Click around to join clubs that interest you.(or some directional statement here)

= render 'shared/create_club'
