= content_for :head do
  = stylesheet_link_tag 'static/clubs'
  = stylesheet_link_tag 'static/buttons'
  = javascript_include_tag 'static/clubs'

= content_for :page_title do
  = render 'static_pages/club_partials/title'

= content_for :left_side do
  .clubs-inner
    %h2 What kind of club are you looking for?
    %ul.club-tabs
      %li
        %button.btn{:name => "btn"} Arts
      %li
        %button.btn{:name => "btn"} Academic
      %li
        %button.btn{:name => "btn"} Alumni
      %li
        = link_to "running-club.html" do
          %button.btn{:name => "btn"} Health
      %li
        %button.btn{:name => "btn"} Gender
      %li
        %button.btn{:name => "btn"} Recreational
      %li
        %button.btn{:name => "btn"} Union Board
      %li
        %button.btn{:name => "btn"} Media
      %li
        %button.btn{:name => "btn"} Student Govt.
      %li
        %button.btn{:name => "btn"} Performance
      %li
        %button.btn{:name => "btn"} Social

  .div
    .music
      .music-img
        = link_to image_tag('running-club-img.png'), 'running-club.html'
      %a{:href => "running-club.html"}
        %span
          %strong
            Running Club
            .glyphicon.glyphicon-chevron-right.btn-sm
      %p Summary about club here.

    .music
      .music-img
        = link_to image_tag('club-img.png'), 'running-club.html'
      %a{:href => "running-club.html"}
        %span
          %strong
            Running Club
            .glyphicon.glyphicon-chevron-right.btn-sm
      %p Summary about club here.
  = render 'shared/create_club'
= content_for :right_side do
  .my-clubs
    .btn4.text-center
      My Clubs
    = link_to "lowdown.html" do
      .club-title
        Davidson Chicago
      = image_tag('side-club.png')
    .no-clubs
      %p
        You do not belong to any clubs! Click around to join clubs that interest you.
        %br
        (or some directional statement here)