= content_for :head do
  = stylesheet_link_tag 'static/communication', 'static/buttons'
  = javascript_include_tag 'static/communication'

= content_for :page_title do
  .title
    %h1 Communication

= content_for :left_side do
  .row.com-title
    .col-md-4.no-padding
      %a{:href => "#"} Notifications (2)
    .col-md-4.no-padding
      %a{:href => "#"} Messages (2)
    .col-md-4.no-padding
      %a{:href => "#"} Requests (1)

  .row#com-notifications
    .col-md-12.no-padding#accordion
      %a{"data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseNotifications"}
        .panel-heading
          %strong Notifications
      #collapseNotifications.collapse
        .row
          .notification-box
            .col-md-2.no-padding
              = image_tag('circle.png', class: "tif-img")
            .col-md-4
              %p
                %a.tif-name{:href => "#"} tiffany wisnieski
                Commented on your post.
                %br/
                YESTERDAY
                %br/
                %a.small-text{:href => "#"} "Couldn't agree more. Looking forward to seeing how it all works out. I've..."

          .notification-box
            .col-md-2.no-padding
              = image_tag('circle.png', class: "tif-img")
            .col-md-4
              %p
                %a.tif-name{:href => "#"} tiffany wisnieski
                Commented on your post.
                %br/
                YESTERDAY
                %br/
                %a.small-text{:href => "#"} "Couldn't agree more. Looking forward to seeing how it all works out. I've..."

        .row
          .notification-box
            .col-md-2.no-padding
              = image_tag('circle.png', class: "tif-img")
            .col-md-4
              %p
                %a.tif-name{:href => "#"} tiffany wisnieski
                Commented on your post.
                %br/
                YESTERDAY
                %br/
                %a.small-text{:href => "#"} "Couldn't agree more. Looking forward to seeing how it all works out. I've..."

          .notification-box
            .col-md-2.no-padding
              = image_tag('circle.png', class: "tif-img")
            .col-md-4
              %p
                %a.tif-name{:href => "#"} tiffany wisnieski
                Commented on your post.
                %br/
                YESTERDAY
                %br/
                %a.small-text{:href => "#"} "Couldn't agree more. Looking forward to seeing how it all works out. I've..."

  .row#com-messages
    .col-md-12.no-padding#accordion
      %a{"data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseMessages"}
        .panel-heading
          %strong Messages
      #collapseMessages.collapse
        .row
          .col-md-2.no-padding
            = image_tag('circle.png', class: "tif-img")
          .col-md-2.no-padding
            %a.com-name{:href => "#"}
              Jane Doe
              %br/
              %span 1998
          .col-md-8.no-padding
            %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.

        .row.dark
          .col-md-2.no-padding
            = image_tag('circle.png', class: "tif-img")
          .col-md-2.no-padding
            %a.com-name{:href => "#"}
              Jane Doe
              %br/
              %span 1998
          .col-md-8.no-padding
            %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.

  .row#com-requests
    .col-md-12.no-padding#accordion
      %a{"data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseRequests"}
        .panel-heading
          %strong Requests
      #collapseRequests.collapse
        .row
          .col-md-2.no-padding
            = image_tag('circle.png', class: "tif-img")
          .col-md-2.no-padding
            %a.com-name{:href => "#"}
              Jane Doe
              %br/
              %span 1998
          .col-md-8.no-padding
            %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.

        .row.dark
          .col-md-2.no-padding
            = image_tag('circle.png', class: "tif-img")
          .col-md-2.no-padding
            %a.com-name{:href => "#"}
              Jane Doe
              %br/
              %span 1998
          .col-md-8.no-padding
            %p I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse.





= content_for :right_side do
  #com-comments-box
    .row
      .col-md-12.comments-header
        %p Comments

    .row
      .col-md-2.no-padding
        = image_tag('circle.png', class: "tif-img")
      .col-md-2.no-padding
        %a.com-name{:href => "#"}
          Your Post
          %br/
          %span 1998
      .col-md-8.no-padding
        %p.comment-description Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse.

    .row
      .col-md-12
        %textarea.text2{:placeholder => "Write an optional message here"}
        %button.btn8.pull-right Reply


  #com-connect-box
    .row
      .col-md-12.connect-header
        %p Connect

    .row
      .col-md-12.connect-body
        = link_to image_tag('circle.png'), '#'
        %h4 Andy Howard
        %p.text-left Here's Andy's full introductions. Lorem ipsum dolor sit amet, ectetuer. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore doloetctuer adipaicse. Lore dolor consetctuer adipaicse.

        %textarea.text2{:placeholder => "Write an optional message here"}
        %button.btn8 Accept
        %button.btn8 Decline
        %button.btn8 Recommend
