= stylesheet_link_tag 'static/lowdown', 'static/buttons'
= javascript_include_tag 'static/lowdown'

.no-margin.col-md-6
  .title
    %h1 Clubs
    %p
      %a{"data-target" => "#club_name", "data-toggle" => "modal", :href => "#"} Create Your Own Club
      %span >>

  .run-club{:style => "background:url(../../assets/running-club-img.png) no-repeat; height:320px;"}
    %button.btn9{:name => "btn"} Running Club
    %button.btn10{:name => "btn"} Join Club

  = render 'static_pages/club_navigation'

  .cent{:style => "margin:0; background-color:#f7f7f7;"}
    .post
      %a.npost{:href => "#"}
        New Post
        %span >>
      %ul.lat-posts
        %li.light
          = link_to image_tag('post-img.png'), '#', class: 'img2'
          %h3
            %a{:href => "network.html"} Andy Howard
          %br/
          %span Lorem ipsum dolor sit amet consecteture.
          %br/
          %a.po-cm{:href => "#"} Post comment

.no-margin.col-md-4
  = render 'shared/search'
  = render 'static_pages/newsletter'
  = render 'static_pages/calendar'

= render 'shared/club_name'
