= stylesheet_link_tag 'static/members', 'static/buttons'
= javascript_include_tag 'static/members'

.no-margin.col-md-6
  .title
    %h1 Clubs
    %p
      %a{"data-target" => "#create_club", "data-toggle" => "modal", :href => "#"} Create Your Own Club
      %span >>

  .run-club{:style => "background:url(../../assets/running-club-img.png) no-repeat; height:320px;"}
    %button.btn9{:name => "btn"} Running Club
    %button.btn10{:name => "btn"} Join Club
  / run-club
  %ul.sub-nav
    %li
      %a{:href => "lowdown.html"} Lowdown
    %li
      %a.current{:href => "members.html"} Members
    %li
      %a{:href => "about.html"} About
    %li
      %a{:href => "money.html"} Money
    %li
      %a{:href => "photos.html"} Photos
  .members
    .filter
      %ul
        %li
          %span (52) Filter:
        %li
          %a.current{:href => "#"} All
        %li
          %a{:href => "#"} Alumni
        %li
          %a{:href => "#"} Students
        %li
          %a{:href => "#"} Sponsors
    / filter
    %ul.mem
      %li
        = link_to image_tag('profile-img.png', height: '65', width: '65'), '#', class: 'onw'
        %strong
          %a{:href => "#"} ellie richards
        %small Law 2014

.no-margin.col-md-4
  = render 'shared/search'
  = render 'static_pages/newsletter'
  = render 'static_pages/calendar'

= render 'shared/create_club'
