= content_for :head do
  = stylesheet_link_tag 'static/members', 'static/buttons'
  = javascript_include_tag 'static/members'

= content_for :page_title do
  .title
    %h1 Clubs
    %p
      %a{"data-target" => "#create_club", "data-toggle" => "modal", :href => "#"} Create Your Own Club
      %span >>

= content_for :left_side do
  .run-club{:style => "background:url(../../assets/running-club-img.png) no-repeat; height:320px;"}
    %button.btn9{:name => "btn"} Running Club
    %button.btn10{:name => "btn"} Join Club

  = render 'static_pages/club_navigation'

  .members
    .filter
      %ul
        %li
          %span (52) Filter:
        %li
          %a.current{:href => "#"} All
        %li
          %a{:href => "#"} Alumni
        %li
          %a{:href => "#"} Students
        %li
          %a{:href => "#"} Sponsors
    / filter
    %ul.mem
      %li
        = link_to image_tag('profile-img.png', height: '65', width: '65'), '#', class: 'onw'
        %strong
          %a{:href => "#"} ellie richards
        %small Law 2014

= content_for :right_side do
  = render 'static_pages/newsletter'
  = render 'static_pages/calendar'

= render 'shared/create_club'
