= stylesheet_link_tag 'static/money', 'static/buttons'
= javascript_include_tag 'static/money'

.no-margin.col-md-6
  .title
    %h1 Clubs
    %p
      %a{"data-target" => "#create_club", "data-toggle" => "modal", :href => "#"} Create Your Own Club
      %span >>

  .run-club{:style => "background:url(../../assets/running-club-img.png) no-repeat; height:320px;"}
    %button.btn9{:name => "btn"} Running Club
    %button.btn10{:name => "btn"} Join Club
  / run-club
  %ul.sub-nav
    %li
      %a{:href => "lowdown.html"} Lowdown
    %li
      %a{:href => "members.html"} Members
    %li
      %a{:href => "about.html"} About
    %li
      %a.current{:href => "money.html"} Money
    %li
      %a{:href => "photos.html"} Photos
  .members{:style => "padding:0; float:left; width:100%; overflow:hidden;"}
    .posd
      .sem
        %span Semester Dues (10)
        %button.btn9.mod4{:name => "brtn"} Purchase
        .selectBox
          %span.selected
          .selectOptions
            %span.selectOption{:value => "Option 1"} Membership
            %span.selectOption{:value => "Option 2"} DESIGNER
            %span.selectOption{:value => "Option 3"} DEVELOPER
          / selectOptions
        / selectBox
      / sem
      .sem
        %span Fall T-shirts (4)
        %button.btn9.mod4{:name => "brtn"} Purchase
        .selectBox
          %span.selected
          .selectOptions
            %span.selectOption{:value => "Option 1"} $15
            %span.selectOption{:value => "Option 2"} $25
            %span.selectOption{:value => "Option 3"} $35
          / selectOptions
        / selectBox
      / sem
      .sem
        %span Event Tickets (12)
        %button.btn9.mod4{:name => "brtn"} Purchase
        .selectBox
          %span.selected
          .selectOptions
            %span.selectOption{:value => "Option 1"} $12
            %span.selectOption{:value => "Option 2"} $24
            %span.selectOption{:value => "Option 3"} $36
          / selectOptions
        / selectBox
      / sem
    / posd
  / members
  .clearfix
/ col-lg-6
.no-margin.col-md-4
  = render 'shared/search'
  = render 'static_pages/newsletter'
  = render 'static_pages/calendar'

= render 'shared/create_club'
