= content_for :head do
  = stylesheet_link_tag 'static/running_club', 'static/buttons'
  = javascript_include_tag 'static/running_club'

= content_for :page_title do
  .title
    %h1 Clubs
    %p
      %a{"data-target" => "#create_club", "data-toggle" => "modal", :href => "#"} Create Your Own Club
      %span >>

= content_for :left_side do
  .run-club{:style => "background:url(../../assets/running-club-img.png) no-repeat; height:320px;"}
    %button.btn9{:name => "btn"} Running Club

  = render 'static_pages/club_navigation'

  .cent
    %p
      This content is restricted.
      %br/
      Join club to view Lowdown.
    %a{:href => "lowdown.html"}
      %button.btn9.mod2{:name => "btn"} Join Club

= content_for :right_side do
  = render 'static_pages/newsletter'
  = render 'static_pages/calendar'

= render 'shared/create_club'
