.comment-box{id: "message-#{message.id}"}
  .pull-left
    = link_to sender_image(message), user_path(message.sender), class: 'com-img'
  = link_to "javascript:;", class: "com-name" do
    = sender_name(message)
    %br
    %span= message.sender.graduation_year if message.sender.graduation_year.present?
  %p= simple_format message.body
