.comment-box.bottom{id: "message-#{message.id}"}
  %a{href: "javascript:;", style: "margin-top: 0"}
    = display_image message.sender.profile.image, "small"
  .span8
    %h5= message.sender.full_name
    =simple_format message.body
    %br
  .span10
    %small.fright
      = time_ago_in_words(message.created_at) + " ago"
      - unless message.attachment.blank?
        = " | attachment: "
        = link_to message.attachment.file.filename, message.attachment.url, target: "_blank"