.comment-box{id: "message-#{message.id}"}
  %a{href: "javascript:;", class: "com-img"}
    = sender_image(message)
  = link_to "javascript:;", class: "com-name" do
    = sender_name(message)
    %br
    - unless message.sender.super_admin?
      %span= message.sender.graduation_year
  %p= simple_format message.body
