#network.profile_main_content.row
  .col-md-5
    = render 'profile_photo', user: @user

  .col-md-7
    .profile-text
      = form_for @user, html: { multipart: true} do |f|
        %p
          Hi! My name is
          = f.text_field :first_name, placeholder: "First Name", class: 'edtitor field-edit'
          = f.text_field :last_name, placeholder: "Last Name", class: 'edtitor field-edit'
        %p
          - if @user.alumni?
            I was a/an
          - else
            I am a/an
          = f.text_field :major, placeholder: "Major", class: 'edtitor2 field-edit'
          and
          = f.text_field :double_major, placeholder: "Double Major", class: 'edtitor3 field-edit'
          at
          = f.select :university_id, options_from_collection_for_select(University.all, :id, :name, @user.university_id), {}, prompt: "University", class: 'edtitor4 field-edit'
        %p
          ="I graduated in" if @user.alumni?
          ="I will graduate in" unless @user.alumni?
          = f.select :graduation_year, options_for_select((Date.today.year + 7).downto(1940).to_a, @user.graduation_year), {}, placeholder: "Grad Year", class: 'edtitor5 field-edit'
        %p
          My current city is
          = f.select :city_id, options_for_select(City.order(:name).collect{ |c| [c.name, c.id] } + [["Other", 0]], selected: @user.city_id), {}, class: 'edtitor6 field-edit'
          = f.text_field :other_city, placeholder: "Other City", class: 'edtitor6 field-edit'
          %br
        = f.fields_for :profile do |profile_fields|
          %p
            Profile photo
            = profile_fields.file_field :image
        %p
          .span11.fright.pull-right
            %input.btng.btn.btn-small.btn-success.form-field(name="commit" type="submit" value="Save")
        .clearfix
      %ul.nav.nav-pills
        %li
          %a{:href => "#resume", "data-toggle" => "tab"}
            Resume
        %li
          %a{:href => "#portfolio", "data-toggle" => "tab"}
            Portfolio
        = render 'profiles/faq_and_contact_requirements', user: @user
  .clearfix
  .tab-content
    #resume.tab-pane.fade.in
      #echo.paragraph
        .title3
          %h4 Education
          %i= image_tag('large-curve.png')
        ~ nested_form_for [@user, @profile] do |f|
          - @profile.educations.build if @profile.educations.blank?
          = f.fields_for :educations do |e|
            - edu = e.object
            = e.hidden_field :id
            .circlee
              %p{:style => "padding-bottom:0;"}
                I graduated from
                = e.text_field :university, placeholder: "University", class: 'edtitor7 field-edit'
                in
                = e.select :graduation_year, options_for_select((Date.today.year + 7).downto(1940).to_a, e.object.graduation_year), {}, class: 'edtitor8 field-edit'
                %br/
                I received my
                = e.text_field :degree_type, placeholder: "Degree Type", class: 'edtitor9 field-edit'
                in
                = e.text_field :major, placeholder: "Study", class: 'edtitor1a field-edit'
              %br.clearfix
              %br.clearfix
              = e.text_area :description, placeholder: "Additional description", rows: "2", class: "same texta2", style: 'display:block'
              %br.clearfix
              = e.link_to_remove "<i class='icon-remove'></i>".html_safe
            %br.clearfix
          .span11.text-left= f.link_to_add "Add", :educations, class: "btn btn-primary btn-mini fleft field-edit", style: "margin-left: 30px"
          .span11.fright.col-md-11.pull-right
            = f.submit "Save", class: "btn btn-small btn-success fright form-field btng ch2s"
          .clearfix
      #echo.paragraph
        .title3
          %h4 Skills &amp; Interests
          %i= image_tag('large-curve.png')
        .circlee2
          ~ form_for [@user, @profile] do |f|
            %p{:style => "font-size:17px;"}
              I am skilled at
              = f.text_field :skill1, placeholder: "skill 1", class: 'edtitor6a field-edit'
              #{',' if !@profile.skill1.blank? && !@profile.skill2.blank?}
              = f.text_field :skill2, placeholder: "skill 2", class: 'edtitor7a field-edit'
              #{'and' if !@profile.skill3.blank? && (!@profile.skill1.blank? || !@profile.skill2.blank?) }
              = f.text_field :skill3, placeholder: "skill 3", class: 'edtitor8a field-edit'
              %br/
              %br/
              I am interested in
              = f.text_field :interested1, placeholder: "interested 1", class: 'edtitor9a field-edit'
              #{',' if !@profile.interested1.blank? && !@profile.interested2.blank?}
              = f.text_field :interested2, placeholder: "interested 2", class: 'edtitor1b field-edit'
              #{'and' if !@profile.interested3.blank? && (!@profile.interested1.blank? || !@profile.interested2.blank?) }
              = f.text_field :interested3, placeholder: "interested 3", class: 'edtitor2b field-edit'
            .span11.fright.col-md-11.pull-right
              = f.submit "Save", class: "btn btn-small btn-success fright form-field btng ch2s"
            .clearfix
      #echo.paragraph
        .title3
          %h4 Experience
          %i= image_tag('large-curve.png')
        .clearfix
        ~ nested_form_for [@user, @profile] do |f|
          - @profile.experiences.order(:id).build if @profile.experiences.blank?
          = f.fields_for :experiences do |ef|
            - experience = ef.object
            .circlee3
              %p
                Company
                = ef.text_field :company_name, placeholder: "Company Name", class: 'edtitor2a field-edit'
                %br/
                I worked as a
                = ef.text_field :position_name, placeholder: "Position Name", class: 'edtitor3a field-edit'
                from
                = ef.text_field :date_started, class: "datepicker edtitor4a field-edit", placeholder: "Date Started", value: ef.object.started
                to
                = ef.text_field :date_ended, class: "datepicker edtitor5a field-edit", placeholder: "Date Ended", value: ef.object.ended
                %br.clearfix
                %br.clearfix
                = ef.text_area :description, placeholder: "Additional description", rows: "2", class: "same texta2", style: 'display:block'
                %br.clearfix
                = ef.link_to_remove "<i class='icon-remove'></i>".html_safe
          %br.clearfix
          .span11.text-left= f.link_to_add "Add", :experiences, class: "btn btn-primary btn-mini fleft field-edit", style: "margin-left: 30px"
          .span11.fright.col-md-11.pull-right
            = f.submit "Save", class: "btn btn-small btn-success fright form-field btng ch2s"
          .clearfix
      .clearfix
    #portfolio.tab-pane.fade
      .paragraph
        .title3
          %h4 Portfolio
          %i= image_tag('large-curve.png')
        - @profile.portfolio_items.build if @profile.portfolio_items.blank?
        ~ nested_form_for [@user, @profile] do |f|
          .col-md-12 Here is a portfolio of my work:
          = f.fields_for :portfolio_items do |pf|
            .col-md-12
              %br
              .col-md-4
                = display_image_square pf.object.image, 'thumb'

              .col-md-6
                .col-md-12= pf.file_field :image, style: "width: 100%"
                .clearfix
                .col-md-12.top= pf.text_field :name, placeholder: "Project Name", class: ""
                .col-md-12.top= pf.text_field :organization_name, placeholder: "Project Organization Name", class: ""
                .col-md-12.top= pf.text_area :description, placeholder: "Description", rows: 5, class: ""
              .col-md-2= pf.link_to_remove "<i class='glyphicon glyphicon-remove'></i>".html_safe
          .clearfix
          %br
          .col-md-11.text-left= f.link_to_add "Add", :portfolio_items, class: "btn btn-primary btn-mini fleft field-edit", style: "margin-left: 80px"
          .span11.fright.col-md-11.pull-right
            = submit_tag "Save", class: "btn btn-small btn-success fright btng ch2s form-field"
          .clearfix
      .clearfix
    #faq.tab-pane.fade
      .paragraph
        .title3
          %h4 FAQs
          %i= image_tag('large-curve.png')
        #carousel-example-generic.carousel.slide.car2{"data-ride" => "carousel"}
          .carousel-inner
            - ind = 0
            ~ nested_form_for [@user, @profile] do |f|
              - @profile.faqs.build if @profile.faqs.blank?
              = f.fields_for :faqs do |fq|
                - faq = fq.object
                .item(class="#{'active' if ind == 0}")
                  %p
                    = fq.text_field :question, placeholder: "Question", class: 'edtitor3b field-edit'
                    %br/
                    = fq.text_field :answer, placeholder: "Answer", class: 'edtitor4b field-edit'
                    = fq.link_to_remove "<i class='icon-remove'></i>".html_safe
              .span11.text-left= f.link_to_add "Add", :faqs, class: "btn btn-primary btn-mini fleft field-edit", style: "margin-left: 80px"
              .span11.fright.col-md-11.pull-right
                = f.submit "Save", class: "btn btn-small btn-success fright btng ch2s form-field"
              .clearfix
              - ind += 1
        .clearfix
      .paragraph.ss2
        .title3
          %h4 Contact Requirements
          %i= image_tag('large-curve.png')
        ~ form_for @contact_requirements, url: contact_requirements_user_profile_path do |f|
          .low1
            %p.span11
              My contact requirements for students include:
              .clearfix
              GPA Requirement    :
              = f.text_field :gpa_requirement, class: 'field-edit'
              .clearfix
              Major Requirement:
              = f.text_field :major_requirement, class: 'field-edit'
              .clearfix
              Years of Experience:
              = f.text_field :years_working_experience, class: 'field-edit'
              .clearfix
              Field of Experience:
              = f.text_field :fields_of_interest, class: 'field-edit'
          .clearfix
          .doe1
            %small
              Do you want to limit the types of students who can contact you? If so, set contact requirements based on
              experience, GPA, major etc.  We know your time is valuable.
            %textarea.texta4.same{:placeholder => "Add contact requirements (Optional)"}
          .span11.fright.col-md-11.pull-right
            = f.submit "save", class: "btn btn-success btn-small fright btng ch2s form-field"
          .clearfix
      .clearfix
