= simple_form_for([:user, @profile], :html => {:class => 'infos', style: "width: 100%" }) do |f|
  = f.error_notification
  .up-photo
    %p Upload photo
    = f.file_field :image
  .clearfix
  %label Skills
  = f.text_area :skills, class: "tarea", style: "width: 60%"
  %label Education
  = f.text_field :education, class: "field2"
  %label Who Can View Your Profile?
  = f.select :view_profile, options_for_select(["Alumni", "Students", "Everyone"])
  .clearfix
  %label Experience
  = f.fields_for :experiences do |builder|
    = render 'experience_fields', f: builder
  = link_to_add_fields "Add Experience", f, :experiences

  %label Portfolio
  - if @profile.portfolio_items.present?
    - @profile.portfolio_items.each do |item|
      = image_tag item.file_url

  = f.fields_for :portfolio_items do |builder|
    = render 'portfolio_item_fields', f: builder
  = link_to_add_fields "Add Portfolio Item", f, :portfolio_items

  - if current_user.alumni
    = f.fields_for :faqs do |builder|
      = render 'faq_fields', f: builder
    = link_to_add_fields "Add FAQ", f, :faqs
  .clearfix
  .sepe
  .btn-link
    %button.btn.btn8 Update Profile
    - if params[:action] == 'new'
      %a{href: "user_skip_profile_path"} Skip