= content_for :header do
  #avatar.span3.top2
    = link_to "<i class='icon-plus icon-white'></i>".html_safe, "javascript:;", class: "btn btn-success btn-mini", style: "margin-top: 40px; margin-left: -70px;"
    = link_to "javascript:void(0);" do
      = display_image @profile.image, "xxlarge", id: "profile-avatar"
  .span8.top4
    .pro-user.top4
      %p Hi! My name is #{@user.full_name} and I'm a #{@user.display_major} from #{@user.display_city}. Let's connect!

.row-fluid
  .container
    .span10.offset2.top2
      %a.span11.top2.slide-tab.toggle{href: "javascript:;", :"data-toggle" => ".slide-content", :"data-target" => "#title"}
        = image_tag 'edit.png', style: "width: 40px;"
        Key Info
        %i.icon-white.icon-minus{style: "float:right; margin-top: 10px; margin-right: 10px"}
      #title.slide-content.hide
        ~ form_for @user do |f|
          %p.span11
            Hi! My name is
            = f.text_field :first_name, placeholder: "First Name"
            = f.text_field :last_name, placeholder: "Last Name"
            - if @user.alumni?
              I was a/an
            - else
              I am a/an
            = f.text_field :major, placeholder: "Major"
            and
            = f.text_field :double_major, placeholder: "Double Major"
            major at
            = f.select :university_id, options_from_collection_for_select(University.all, :id, :name, @user.university_id), prompt: "University"
            =". I graduated in" if @user.alumni?
            =". I will graduate in" unless @user.alumni?
            = f.select :graduation_year, options_for_select((Date.today.year + 7).downto(1940).to_a, @user.graduation_year), placeholder: "Grad Year"
            =". My current city"
            = f.select :city_id, options_for_select(City.order(:name).collect{ |c| [c.name, c.id] } + ["Other"], selected: @user.city_id)
            - if @user.alumni?
              =". I work in"
              = f.select :professional_field_id, options_from_collection_for_select(ProfessionalField.all, :id, :name, @user.professional_field_id)
          .span11.fright{style: "margin-right: 10px;"}
            %a.cancel.btn.btn-small.btn-danger.fright cancel
            = f.submit "Save", class: "button btn btn-small btn-success fright"

      %a.span11.slide-tab.toggle{href: "javascript:;", :"data-toggle" => ".slide-content", :"data-target" => "#education"}
        = image_tag 'edit.png', style: "width: 40px;"
        Education
        %i.icon-white.icon-minus{style: "float:right; margin-top: 10px; margin-right: 10px"}
      #education.slide-content.hide
        = simple_form_for [@user, @profile] do |f|
          = f.simple_fields_for :education do |e|
            .span11= e.select :completed, options_for_select(["Completed Additional School", "Still in Additional School"]), style: "width: 220px;"
            %p.span11
              I studied
              = e.text_field :major, placeholder: "Study"
              at
              = e.text_field :university, placeholder: "University"
              = ". I graduated with a"
              = e.text_field :degree_type, placeholder: "Degree Type"
              in
              = e.select :graduation_year, options_for_select((Date.today.year + 7).downto(1940).to_a, @user.graduation_year)
              =". "
              I attended
              = e.text_field :high_school, placeholder: "High School Name"
            .span11.fright
              = f.submit "Save", class: "btn btn-small btn-success fright"
      %a.span11.slide-tab.toggle{href: "javascript:;", :"data-toggle" => ".slide-content", :"data-target" => "#skill"}
        = image_tag 'edit.png', style: "width: 40px;"
        Skills
        %i.icon-white.icon-minus{style: "float:right; margin-top: 10px; margin-right: 10px"}
      #skill.slide-content.hide
        ~ form_for [@user, @profile] do |f|
          %p.span11
            I am skilled at
            = f.text_field :skill1, placeholder: "skill 1"
            =", "
            = f.text_field :skill2, placeholder: "skill 2"
            and
            = f.text_field :skill3, placeholder: "last skill"
          .span11.fright
            = submit_tag "Save", class: "btn btn-small btn-success fright"
      %a.span11.slide-tab.toggle{href: "javascript:;", :"data-toggle" => ".slide-content", :"data-target" => "#experience"}
        = image_tag 'edit.png', style: "width: 40px;"
        Experience
        %i.icon-white.icon-minus{style: "float:right; margin-top: 10px; margin-right: 10px"}
      #experience.slide-content.hide
        ~ nested_form_for [@user, @profile] do |f|
          - @profile.experiences.build if @profile.experiences.blank?
          = f.fields_for :experiences do |ef|
            %p.span11
              I worked as a/an
              = ef.text_field :position_name, placeholder: "Position Name"
              at
              = ef.text_field :company_name, placeholder: "Company Name"
              from
              = ef.text_field :date_started, class: "datepicker", placeholder: "Date Started", value: ef.object.started
              to
              = ef.text_field :date_ended, class: "datepicker", placeholder: "Date Ended", value: ef.object.ended
              = ef.link_to_remove "<i class='icon-remove'></i>".html_safe
          = f.link_to_add "Add", :experiences, class: "btn btn-primary btn-mini fleft", style: "margin-right: 100px"
          .span11.fright
            = submit_tag "Save", class: "btn btn-small btn-success fright"

      %a.span11.slide-tab.toggle{href: "javascript:;", :"data-toggle" => ".slide-content", :"data-target" => "#portfolio"}
        = image_tag 'edit.png', style: "width: 40px;"
        Portfolio
        %i.icon-white.icon-minus{style: "float:right; margin-top: 10px; margin-right: 10px"}
      #portfolio.slide-content.hide
        %p.span11
          Here is a portfolio of my work:
          %br
        - @profile.portfolio_items.build if @profile.portfolio_items.blank?
        ~ nested_form_for [@user, @profile] do |f|
          = f.fields_for :portfolio_items do |pf|
            .span11
              .span2
                = display_image_square pf.object.image, 'thumb'

              .span9
                .span9= pf.file_field :image, style: "width: 100%"
                .clearfix
                .span9.no-lmar= pf.text_field :name, placeholder: "Project Name", class: "span9"
                .span9.no-lmar= pf.text_field :organization_name, placeholder: "Project Organization Name", class: "span9"
                .span9.no-lmar= pf.text_area :description, placeholder: "Description", rows: 5, class: "span9"
              .span1= pf.link_to_remove "<i class='icon-remove'></i>".html_safe
          = f.link_to_add "Add", :portfolio_items, class: "btn btn-primary btn-mini fleft", style: "margin-right: 100px"
          .span11.fright
            = submit_tag "Save", class: "btn btn-small btn-success fright"
      - if current_user.alumni?
        %a.span11.slide-tab.toggle{href: "javascript:;", data: {toggle: ".slide-content", target: "#faqs"}}
          = image_tag 'edit.png', style: "width: 40px;"
          FAQ's
        #faqs.slide-content.hide
          .clearfix
          ~ nested_form_for [@user, @profile] do |f|
            - @profile.faqs.build if @profile.faqs.blank?
            = f.fields_for :faqs do |faq|
              .span9
                = faq.text_field :question, style: "width: 700px;", placeholder: "Question"
                = faq.text_area :answer, style: "width: 700px; height: 50px;", placeholder: "Answer"
              .span1= faq.link_to_remove "<i class='icon-remove'></i>".html_safe

            = f.link_to_add "Add", :faqs, class: "btn btn-primary btn-mini fleft", style: "margin-right: 100px"
            .span11.fright
              = submit_tag "Save", class: "btn btn-small btn-success fright"
        %a.span11.slide-tab.toggle{href: "javascript:;", :"data-toggle" => ".slide-content", :"data-target" => "#contact_requirements"}
          = image_tag 'edit.png', style: "width: 40px;"
          Contact Requirements
          %i.icon-white.icon-minus{style: "float:right; margin-top: 10px; margin-right: 10px"}
        #contact_requirements.slide-content.hide
          ~ form_for @contact_requirements, url: contact_requirements_user_profile_path do |f|
            %p.span11
              My contact requirements for students include: GPA Requirement
              = f.text_field :gpa_requirement
              , Major Requirement
              = f.text_field :major_requirement
              , Years of Experience
              = f.text_field :years_working_experience
              , Field of Experience
              = f.text_field :fields_of_interest
            .span11.fright
              = f.submit "save", class: "btn btn-success btn-small fright"
#avatar_form{style: "opacity: 0"}
  = form_for @profile, url: upload_avatar_path, method: :post do |f|
    = f.file_field :image, id: "avatar_field"
:javascript
  $(document).ready(function(){
    $("#avatar").on("click", "a", function(){
      $("#avatar_form input").trigger("click");
    });
    $("#avatar_form").on("change", "input[type=file]",function(){
      $("a#show_waiting").click();
      $(this).closest("form").submit();
    });
    $(".slide-tab").click(function(){
      closing = $(this).find("i").hasClass("icon-minus");
      $(".slide-tab i").addClass("icon-minus");
      $(".slide-tab i").removeClass("icon-plus");

      if(closing){
        $(this).find("i").addClass("icon-plus");
        $(this).find("i").removeClass("icon-minus");
      }

    });

    $(".cancel").click(function(){
      $(this).closest(".slide-content").addClass("hide");
      $(".slide-tab").find("i").addClass("icon-minus");
      $(".slide-tab").find("i").removeClass("icon-plus");
    });
  });
