= content_for :head do
  = javascript_include_tag 'static/network'

= content_for :page_title do
  .title
    %h1 Network

= content_for :left_side do
  .profile_main_content
    .col-md-5
      = render 'profile_photo', user: @user

    .col-md-7
      .profile-text
        %p
          Hi! My name is
          = succeed "." do
            %span.form-field= @user.name
          - if @user.alumni?
            I was a/an
          - else
            I am a/an
          %span.form-field= @user.major
          - if @user.double_major.present?
            and
            %span.form-field= @user.double_major
          = @user.double_major.present? ? 'double major' : 'major'
          at
          = succeed "." do
            %span.form-field= @user.university.name
          ="I graduated in" if @user.alumni?
          ="I will graduate in" unless @user.alumni?
          = succeed "." do
            %span.form-field= @user.graduation_year
          My current city is
          = succeed "." do
            %span.form-field= @user.display_city

          .clearfix
        %ul.nav.nav-pills
          %li
            %a{:href => "#resume", "data-toggle" => "tab"}
              Resume
          %li
            %a{:href => "#portfolio", "data-toggle" => "tab"}
              Portfolio
          = render 'faq_and_contact_requirements', user: @user
        %a#edt.edit{:href => "#{edit_user_profile_path(current_user, current_user.profile)}"}
          Edit
          %i
            = image_tag('edit-icon.png')


  .tab-content
    #resume.tab-pane.fade.in
      .paragraph
        .title2
          %ul.tabs2
          %h4
            %li.active22
              %a.slide-tab{:href => "javascript:void(0)", rel: 'tab11'} Education
            %li
              %a.slide-tab{:href => "javascript:void(0)", rel: "tab22"} Skills &amp; Interests
          %i
            = image_tag('small-curve.png')
        .clearfix
        .tab_container
          #tab11.tab_content2.tab-cont
            - @profile.educations.each do |edu|
              .circlee
                %p{:style => "padding-bottom:0;"}
                  I graduated from
                  %i.text7
                    %strong.form-field= edu.university || edu.high_school
                  in
                  = succeed "." do
                    %i.text8
                      %strong.form-field= edu.graduation_year
                  %br/
                  I received my
                  %i.text9
                    %strong.form-field= edu.degree_type
                  in
                  = succeed "." do
                    %i.text1a
                      %strong.form-field= edu.major
                .clearfix
            .clearfix
          / paragraph
        / tab_content2
        #tab22.tab_content2.tab-cont
          .paragraph2
            .circlee2
              %p{:style => "font-size:17px;"}
                I am skilled at
                %i.text6a.form-field
                  %strong= @profile.skill1
                #{',' if !@profile.skill1.blank? && !@profile.skill2.blank?}
                %i.text7a.form-field
                  %strong= @profile.skill2
                #{'and' if !@profile.skill3.blank? && (!@profile.skill1.blank? || !@profile.skill2.blank?) }
                %i.text8a.form-field
                  %strong= @profile.skill3
                %br/
                %br/
                I am interested in
                %i.text9a.form-field
                  %strong= @profile.interested1
                #{',' if !@profile.interested1.blank? && !@profile.interested2.blank?}
                %i.text1b.form-field
                  %strong= @profile.interested2
                #{'and' if !@profile.interested3.blank? && (!@profile.interested1.blank? || !@profile.interested2.blank?) }
                %i.text2b.form-field
                  %strong= @profile.interested3
                .clearfix
            .clearfix
          / paragraph
        / tab_content2
      / tab_container
      #echo.paragraph2
        .title3
          %h4 Experience
          %i= image_tag('large-curve.png')
        / title3
        - @profile.experiences.each do |experience|
          .circlee3
            %p
              %i.text2a.form-field
                %span= experience.company_name
              %br/
              %br/
              I worked as a
              %i.text3a.form-field
                %span= experience.position_name
              from
              %i.text4a.form-field
                %span= experience.date_started
              to
              = succeed "." do
                %i.text5a.form-field
                  %span= experience.date_ended
              %br/
              Additional Description of your position at this company as you wrote it. Click edit to change.
              %br/

    #portfolio.tab-pane.fade
      .paragraph2
        .title3
          %h4 Portfolio
        - @profile.portfolio_items.each do |port|
          .span11
            Here is a portfolio of my work:
            %br
            .span2
              = display_image_square port.image, 'thumb'

            .span9
              .span9.no-lmar= port.name
              .span9.no-lmar= port.organization_name
              .span9.no-lmar= raw port.description
          .clearfix
    #faq.tab-pane.fade
      .paragraph2
        .title2
          %h4 FAQs
        / title2
        #carousel-example-generic.carousel.slide.car2{"data-ride" => "carousel"}
          .carousel-inner
            - @profile.faqs.each_with_index do |faq, index|
              .item(class="#{'active' if index == 0}")
                %p
                  %small.text3b.form-field
                    %span= faq.question
                  %br/
                  %small.text4b.form-field= faq.answer
            / item
          / carousel-inner
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
            = image_tag('lefts.png')
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
            = image_tag('rights.png')
        / carousel
      .clearfix
      / paragraph
      .paragraph2.ss2
        .title2
          %h4 Contact Requirements
        / title2
        .low
          %p
            My contact requirements for students include:
            %br/
            GPA Requirement:
            %span= @profile.contact_requirement.try(:gpa_requirement)
            , Major Requirement:
            %span= @profile.contact_requirement.try(:major_requirement)
            , Years of Experience:
            %span= @profile.contact_requirement.try(:years_working_experience)
            , Field of Experience:
            %span= @profile.contact_requirement.try(:fields_of_interest)
        .clearfix

  :javascript
    $(function(){
      $('a.slide-tab').click(function(){
        $('.tab-cont').hide()
        $('#' + $(this).attr('rel')).show()
      });
      $(document).on('nested:fieldAdded:faqs', function(event){
        var field = event.field;
        field.find('.field-edit').show()
      });
    })

= content_for :right_side do
  .info
    %span.btn4 My Contacts
  / info
  %ul.lists.ssy
    - ind = -1
    - @user.contacts.each do |contact|
      - ind += 1
      %li(class="#{ind == 0 ? 'light' : 'dark' }")
        %a{:href => "#"}
          %i
            = image_tag('profile-img.png')
          %span
            = contact.name
            %br/
            = contact.graduation_year
        %button.btna7{:name => "btm"} Message
        .ssys
          %small= contact.intro_para
