.modal.hide.fade{id: "event#{event.id}_detail"}
  .modal-header
    %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
    %h3= event.title
  .modal-body
    .span5.no-lmar
      .fleft= display_image_square event.image, "xxlarge" unless event.image.blank?
      .fleft.left2
        - if event.club
          %strong Club
          = link_to event.club.name, club_link_path(event.university, event.club)
          %br
        - if event.free_food
          %strong Free food 
          Yes
          %br
        %strong Location
        = event.location
        %br
        %strong Date
        = event.date
        %br
        %strong Time
        = event.time
        %br
        %p= event.description
    .span5
      .fright.interested
        - if current_user.interested_event?(event)
          %h5.green Interested
        - else
          = link_to "Interested", interested_university_university_event_path(event.university, event), remote: true, class: "btn btn-success btn-mini"
  .clearfix
  .modal-footer
    %button.btn.btn-warning{type: "button", data: {dismiss: "modal"}} Close
    - if current_user.manage_event?(event)
      %a.btn.btn-success.edit-event{href: "#event-form#{event.id}", "data-toggle"=> "modal", id: "event#{event.id}-link"} Edit
      = link_to "delete", university_university_event_path(event.university, event), method: :delete, remote: true, class: "btn btn-danger", confirmation: "Are you sure?"