= content_for :header do
  .span12.header-box
    = image_tag "calendar.jpg"
  .fright{style: "margin-top: -40px; margin-right: 20px"}= link_to "Add Event", "#event-form", class: "btn btn-success", data: {toggle: "modal"}, id: "add-event"


  .clearfix
  .span10.top2
    %center.calendar-bar
      = link_to "<i class='icon-white icon-chevron-left'></i>".html_safe, "/prev_week/#{@week_start.strftime('%y%m%d')}", class: "btn btn-success btn-large prev-week", remote: true
      %span#week-title.btn.btn-success.btn-large
        = week_title(@week_start)
      = link_to "<i class='icon-white icon-chevron-right'></i>".html_safe, "/next_week/#{@week_start.strftime('%y%m%d')}", class: "btn btn-success btn-large next-week", remote: true
  .span10.top2
    %center
      %span.switch-view.top20

  .span12.top2{style: "margin-left: -30px; width: 103%;"}
    .week-bar
      %span SUN
      %span MON
      %span TUE
      %span WED
      %span THU
      %span FRI
      %span SAT
  .span12.top2.bottm2{style: "margin-left: -30px; width: 103%;"}
    .day-list
      = render partial: "one_week"
  .clearfix
  #event-list
    = render partial: "events"
#event-popup= render partial: "form", locals: {event: @event}

:javascript
  $(document).ready(function(){

    $("#event_club_id").change(function() {
      if($(this).val().length > 0){
        $("#display_uc").removeClass("hide");
      }else{
        $("#display_uc").addClass("hide");
      }
    });

    $(".day-list").on("click", ".btn", function(){
      $(".day-list span").removeClass("active");
      $(".day-list a").removeClass("btn-success");
      $(this).addClass("btn-success");
      $(this).closest('span').addClass("active");
    });

  });