= content_for :header do
  .span12.header-box{style: "margin-left: -30px; width: 103%;"}
    %center.bottom2
      %strong Calendar
    .fright.top2.bottom2
      = link_to "Add Event", "#add_event", class: "btn btn-success", data: {toggle: "modal"}, id: "add-event"

  .clearfix
  .span10.top2
    %center.calendar-bar
      = link_to "<i class='icon-white icon-chevron-left'></i>".html_safe, "/prev_week/#{@week_start.strftime('%y%m%d')}", class: "btn btn-success btn-large prev-week", remote: true
      %span#week-title.btn.btn-success.btn-large
        = week_title(@week_start)
      = link_to "<i class='icon-white icon-chevron-right'></i>".html_safe, "/next_week/#{@week_start.strftime('%y%m%d')}", class: "btn btn-success btn-large next-week", remote: true
  .span10.top2
    %center
      %span.switch-view.top20
        %strong= link_to "MONTHLY VIEW", "javascript:;"
  .span12.top2{style: "margin-left: -30px; width: 103%;"}
    .week-bar
      %span SUN
      %span MON
      %span TUE
      %span WED
      %span THU
      %span FRI
      %span SAT
  .span12.top2.bottm2{style: "margin-left: -30px; width: 103%;"}
    .day-list
      = render partial: "one_week"
  .clearfix
  #event-list
    = render partial: "events"

#add_event.modal.hide
  = simple_form_for @event, url: university_university_events_path(@university), html: {class: 'form-horizontal'} do |f|
    .modal-header
      %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
      %h3 Add University Event
    .modal-body
      = f.input :title
      = f.input :on_date, as: :string, label: "Date", input_html: {class: "datepicker"}
      = f.input :at_time, label: "Time", as: :time, ampm: true, minute_step: 5, default: {hour: 0, minute: 0},input_html: {style: "width: 80px"}
      = f.input :location
      = f.input :description, as: :text, input_html: {rows: 2}
      = f.input :category, as: :category
      = f.input :image, as: :file
      = f.input :free_food, inline_label: 'Free Food Event?', label: false, as: :boolean
      = f.input :eventable_type, inline_label: 'Club Event?', label: false, as: :boolean
      %div.form-inline{ :style => "position: relative; left: 5px; float:right; margin-top:-50px"}
        = f.select :club_id, options_for_select(@university.clubs.order(:name).collect{ |c| [c.name, c.id] })
    .clearfix
    .modal-footer
      = f.submit "Add Event", class: "btn btn-success"

:javascript
  $(document).ready(function(){
    $("#event_club_id").hide();

    $("#event_eventable_type").change(function() {
      $("#event_club_id").slideToggle();
    });

    $(".day-list").on("click", ".btn", function(){
      $(".day-list span").removeClass("active");
      $(".day-list a").removeClass("btn-success");
      $(this).addClass("btn-success");
      $(this).closest('span').addClass("active");
    });

    error = "#{@event.errors.any?}";
    if(error=="true"){
      $("#add-event").click();
    }
  });