= content_for :head do
  = stylesheet_link_tag 'static/communication', 'static/buttons'
  = javascript_include_tag 'static/communication'

= content_for :page_title do
  .title
    %h1 Communication

= content_for :left_side do
  .row.com-title
    .col-md-4.no-padding
      %a{:href => "#"} Notifications (#{@notices.size})
    .col-md-4.no-padding
      %a{:href => "#"} Messages (#{@unread_messages.size})
    .col-md-4.no-padding
      %a{:href => "#"} Requests (#{@requests.size})

  .row#com-notifications
    %ul.accordion
      %li
        %a.nots2.sa.lala{:href => "#"}
          %strong Notifications
          %i
        .clearfix
        .ddd
          - @notices.each do |notice|
            .tiffny
              - if notice.alert.alertable.class == User
                = link_to display_image(notice.alert.alertable.profile.image,"thumb"), read_alert_path(notice.alert), remote: true
              - elsif notice.alert.alertable.class == Club
                = link_to display_image(notice.alert.alertable.image,"thumb"), read_alert_path(notice.alert), remote: true
              %p
                %a.tif-name{:href => "#"}= alert_name(notice.alert.alertable)
                %br/
                %a.small-text{:href => "#"}
                  = truncate(notice.alert.message.html_safe, length: 70) unless notice.alert.message.blank?

          .tiffny
            %a.tif-img{:href => "#"}
            %p
              %a.tif-name{:href => "#"} tiffany wisnieski
              Commented on your post.
              %br/
              YESTERDAY
              %br/
              %a.small-text{:href => "#"} "Couldn't agree more. Looking forward to seeing how it all works out. I've..."

  .row#com-messages
    %li
      %a#mes.nots2.lala{:href => "#"}
        %strong Messages
        \&nbsp; &nbsp; &nbsp; Edit &nbsp; &nbsp; &nbsp; New Message
        %i
      .ddd
        - @conversations.each do |con|
          - message = con.messages.first
          .comment-box{id: "con-#{con.id}"}
            = link_to sender_image(message), read_message_path(con), remote: true, class: 'com-img'
            %a.com-name{:href => "#"}
              = sender_name(message)
              %br/
              %span= message.sender.graduation_year if message.sender.is_a?(User)
            %p= truncate(con.messages.first.body, length: 50).html_safe

  .row#com-requests
    %li
      %a.nots2.sa.lalas{:href => "#"}
        %strong Requests
        %i
      .ddd
        - @requests.each do |relationship|
          .comment-box
            = link_to display_image(relationship.relation.profile.image,"thumb"), read_relationship_path(relationship), remote: true
            %a.com-name{:href => "#"}
              = relationship.relation.name
              %br/
              %span= relationship.relation.graduation_year
            %p= relationship.relation.intro_para


= content_for :right_side do
  #current_conversation
  .showass
    .info{:style => "position:relative; z-index:10000; width:100%; float:left"}
      %button.btn7{:name => "btn"} Comments

    .comment-box
      = link_to image_tag('circle.png'), '#', class: 'com-img'
      %a.com-name{:href => "#"}
        Your Post
        %br/
        %span 1998
      %p Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse.


    %textarea.text2{:name => "textarea"}
    %button#uni.btn8.pull-right{:name => "btn"} Reply

  .lal
    .info{:style => "position:relative; z-index:10000; width:100%; float:left"}
      %button.btn7{:name => "btn"} Connect

    .comment-box
      = link_to image_tag('circle.png'), '#', class: 'com-img'
      .com-name
        %span Andy Howard
      %p Here's Andy's full introductions. Lorem ipsum dolor sit amet, ectetuer. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore doloetctuer adipaicse. Lore dolor consetctuer adipaicse.

    .clearfix
    %textarea.text2{:name => "textarea", :placeholder => "Write an optional message here"}
    %button.btn8{:name => "btn"} Accept
    %button.btn8{:name => "btn"} Decline
    %button.btn8{:name => "btn"} Recommend