= content_for :head do
  = javascript_include_tag 'static/communication'

= content_for :page_title do
  .title
    %h1 Communication

= content_for :left_side do
  .row.com-title
    .nav.nav-tabs
      -#.col-md-4.no-padding
      -#  %a{"data-toggle" => "tab", href: "#notifications"} Notifications <span id='unread_alerts'>(#{@notices.size})</span>
      .col-md-4.no-padding
        %a{"data-toggle" => "tab", "data-count" => @unread_messages.size, href: "#messages"} Messages <span id='unread_messages'>(#{@unread_messages.size})</span>
      .col-md-4.no-padding
        %a{"data-toggle" => "tab", "data-count" => @requests.size, href: "#requests"} Requests (#{@requests.size})
      .col-md-4.no-padding
        %a{href: "#message-form", data: {toggle: "modal"}} New Message
  = render 'shared/new_message'



  .row.tab-content
    -##notifications.tab-pane.active
    -#  - @notices.each do |notice|
    -#    .tiffny
    -#      - if notice.alert.alertable.class == User
    -#        = link_to display_image(notice.alert.alertable.profile.image,"thumb"), read_alert_path(notice.alert), remote: true
    -#      - elsif notice.alert.alertable.class == Club
    -#        = link_to display_image(notice.alert.alertable.image,"thumb"), read_alert_path(notice.alert), remote: true
    -#      %p
    -#        %a.tif-name{:href => "#"}= alert_name(notice.alert.alertable)
    -#        %br/
    -#        %a.small-text{:href => "#"}
    -#          = notice.alert.message.html_safe unless notice.alert.message.blank?
    #messages.tab-pane.show
      - @conversations.each do |con|
        - message = con.messages.first
        .comment-box{id: "con-#{con.id}"}
          = link_to sender_image(message), read_message_path(con), remote: true, class: 'com-img'
          %a.com-name{:href => "#"}
            = sender_name(message)
            %br/
            %span= message.sender.graduation_year if message.sender.is_a?(User)
          %p= truncate(con.messages.first.body, length: 50).html_safe
          %p= link_to "Delete", message_path(message), method: :delete, remote: true, class: "btn btn-default pull-right", confirm: "are you sure?"


    #requests.tab-pane
      - @requests.each do |relationship|
        .comment-box
          = link_to display_image(relationship.relation.profile.image,"thumb"), read_relationship_path(relationship), remote: true
          %a.com-name{:href => "#"}
            = relationship.relation.name
            %br/
            %span= relationship.relation.graduation_year
          %p= relationship.relation.intro_para

= content_for :right_side do
  #current_conversation
    -##com-comments-box
    -#  .row
    -#    .col-md-12.comments-header
    -#      %p Comments
    -#
    -##com-connect-box
    -#  .row
    -#    .col-md-12.connect-header
    -#      %p Connect
    -#
    -#  .row
    -#    .col-md-12.connect-body
    -#      = link_to image_tag('circle.png'), '#'
    -#      %h4 Andy Howard
    -#      %p.text-left Here's Andy's full introductions. Lorem ipsum dolor sit amet, ectetuer. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Lore dolor consetctuer adipaicse. Hey! How are you? Ipsum dolor sit amet, ectetuer adipiscing elit, sed  I was hoping to touch base with Lore dolor consetctuer adipaicse. Lore doloetctuer adipaicse. Lore dolor consetctuer adipaicse.
    -#

