- user = comment.user
.span12.left.border-bottom.top2.bottom2.bottomp
  .span2
    = link_to user_path(user) do
      = display_image user.profile.image, "small"
  .span7.no-lmar 
    %h4= user.full_name
    = simple_format comment.comment
  .span3.no-lmar
    .fright.green{style: "margin-right: 0"}
      = time_ago_in_words(comment.created_at) + " ago"