- if comment.commentable_type=="Album"
  %span= comment.user && comment.user.name
  = comment.comment
  %br
- else
  .col-md-12.top.pull-left
    - if comment.user.present?
      = link_to user_path(comment.user) do
        = display_image comment.user.profile.image, "small"
      %span.green-text= comment.user.name
    = comment.comment.to_s.html_safe
  %br
