$("##{@resource.class.name.downcase}#{@resource.id}-comments .comments").append("#{escape_javascript(render partial: "comment", locals: {comment: @comment})}");
$("##{@resource.class.name.downcase}#{@resource.id}-comments #comment_comment").val("");