= simple_form_for :event, url: search_event_path, remote: true, method: :get do |f|
  .span11.no-lmar
    .span3.no-lmar
      = f.text_field :title, class: "field", placeholder: "Title", style: "width: 80%"
    .span3.no-lmar
      = f.text_field :on_date, class: "field datepicker", placeholder: "Date", style: "width: 80%"
    .span3.no-lmar
      = f.input :at_time, label: false, as: :time, ampm: true, minute_step: 5, time_separator: "", prompt: {hour: "Hour", minute: "Min"}, input_html: {style: "width: 80px", class: "field"}
  .span11.no-lmar
    .span3.no-lmar
      = f.text_field :location, class: "field", placeholder: "Location", style: "width: 80%"

    .span3.no-lmar.dropdown
      %a.btn.btn-success.btn2.chang.dropdown-toggle{:href => "javascript:;", :"data-toggle" => 'dropdown'}
        %i
          = image_tag "dropdown-arrow.png"
      %ul.dropdown-menu{style: "margin: -10px 0 0 22px"}
        %li
          %a= ""
        - Club::CATEGORIES.each do |category|
          %li
            %a= category
      = text_field :category, "Both", class: "field dropdown-toggle", :"data-toggle" => 'dropdown', placeholder: "Category"
    .span11.no-lmar
      .offset8
        = f.submit "Search", class: "btn btn-success"