.clearfix
%ul
  - @users.each do |user|
    %li.span3{style: "margin-left: 20px; margin-top: 50px;"}
      .users
        %a{href: user_path(user)}= display_image user.profile.image, "xlarge"
        .hovers{style: "margin-left: 0;"}
          %p  Hi! I am #{user.full_name} from #{user.display_city} and I am excited about business
          - if current_user.relatable?(user) 
            %a.add_contact{href: "#add-contact", data: {toggle: "modal"}, :"data-user_id" => user.id, style: "margin-right: 10px;"} Add Contact
          - else
            = link_to "view", user_path(user)

          - unless @user == current_user
            = link_to "Message", "#message-form", data: {toggle: "modal"}
          - if user.alumni
            = link_to "contact requirement", "javascript:;"

%h4.left
  = "No results found" if @users.blank?