= content_for :header do
  .span10.no-lmar
    .span3.no-lmar.dropdown
      %a.btn.btn-success.btn2.chang.dropdown-toggle{:href => "javascript:;", :"data-toggle" => 'dropdown'}
        %i
          = image_tag "dropdown-arrow.png"
      %ul.dropdown-menu{style: "margin: -10px 0 0 22px"}
        %li.search_type
          %a Person
        %li.search_type 
          %a Club
      = text_field_tag :search_object, "Person", class: "field dropdown-toggle", :"data-toggle" => 'dropdown'
    .span3.no-lmar
      = text_field_tag :name, "",class: "field", placeholder: "Name", style: "width: 80%"
    
    #person-option= render partial: "person_options"
    #club-option.hide= render partial: "club_options"
 
  .span10.bottom2
    .offset8.top2
      = link_to "Search", "javascript:;", class: "btn btn-success", id: "search-button"

  .row-fluid
    .container
      .span10.top2
        #search-results.top2
          - if params[:term]
            .span12
              %h3 Search for persons
              =  render partial: "persons"
            .span12.no-lmar.top2
              %h3 Search for clubs
              =  render partial: "clubs"

#add-contact.modal.hide
  = simple_form_for Relationship.new(user_id: current_user.id) do |f|
    .modal-header
      %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
      %h3 Add Contact
    .modal-body
      = f.input :relation_id, as: :hidden
      = f.input :message, as: :text, input_html: {class: 'span5', rows: 10}
    .modal-footer
      = f.submit "Add Contact", class: "btn btn-primary"

:javascript
  $(function(){
    $("#search-results").on("click", ".add_contact", function(){
      $("#relationship_relation_id").val($(this).data("user_id"));
    });
  });