= content_for :header do
  .span10.no-lmar
    .span3.no-lmar.dropdown
      %a.btn.btn-success.btn2.chang.dropdown-toggle{:href => "javascript:;", :"data-toggle" => 'dropdown'}
        %i
          = image_tag "dropdown-arrow.png"
      %ul.dropdown-menu{style: "margin: -10px 0 0 22px"}
        %li.search_type
          %a Person
        %li.search_type 
          %a Club
      = text_field_tag :search_object, "Person", class: "field dropdown-toggle", :"data-toggle" => 'dropdown'
    .span3.no-lmar
      = text_field_tag :name, "",class: "field", placeholder: "Name", style: "width: 80%"
    .span3.no-lmar.dropdown
      %a.btn.btn-success.btn2.chang.dropdown-toggle{:href => "javascript:;", :"data-toggle" => 'dropdown'}
        %i
          = image_tag "dropdown-arrow.png"
      %ul.dropdown-menu{style: "margin: -10px 0 0 22px"}
        - City.order(:name).each do |city|
          %li
            %a= city.name
      = text_field_tag :location, "", class: "field dropdown-toggle", :"data-toggle" => 'dropdown', placeholder: "location"
  .span10.no-lmar
    #person-option= render partial: "person_options"
    #club-option.hide= render partial: "club_options"
 
  .span10.offset8.top2
    = link_to "Search", "#search", class: "btn btn-success"