.members{:style => "padding-top:0;"}
  .eboard
    %h3 eBoard
    %ul.abo
      %li
        = link_to image_tag('profile-img.png'), '#', width: '55'
        %strong
          = link_to 'nik thomas', '#'
        %small
          Founder
          %br/
          Law 2014
      %li
        = link_to image_tag('profile-img.png'), '#', width: '55'
        %strong
          = link_to 'nik thomas', '#'
        %small
          Founder
          %br/
          Law 2014
      %li
        = link_to image_tag('profile-img.png'), '#', width: '55'
        %strong
          = link_to 'nik thomas', '#'
        %small
          Founder
          %br/
          Law 2014

  %p.mis
    Mission Statement
    %br/
    %br/
    Lorem dolor sit amet, consectetuer adipiscing elit, sed diam nonuy. Lorem ipsum dolor sit amet, conetuer adipiscing elit, sed diam nonummy nibh euaismod tincidunt ut laoreet dolore magna alaarhiquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate Records