= content_for :header do
  .span3
    = link_to "javascript:;", class: "mono" do
      = display_image @university.image, "xxlarge"
  .span8
    .page-title.top200{style: "color: #fff; position: absolute;"}= @metropolitan_club.name
    .fright{style: "dmin-height: 210px;"}
      .rig
        .top4.bottom2.fright{style: "margin-right: 0"}
          %a.btn.btn-success Upcoming Events
        %br
        .top4.fright{style: "margin-right: 0"}
          - if current_user.manage_club?(@metropolitan_club)
            %a#upload-banner.btn.btn-success.top4{href: "javascript:;"} Change

.clearfix
.row-fluid
  .container
    .offset2.span10
      .span7
        .img-box
          - if @metropolitan_club.updates.size > 0 && @metropolitan_club.updates.first.image_url
            - src = @metropolitan_club.updates.first.image_url if @metropolitan_club.updates.first
          - else
            - src = @metropolitan_club.image_url
          %a{style: "min-height: 400px;"}
            %img#feature-image.feature-image.square.cir-img{src: src}
      .span5
        .vscroll400
          %ul.listing.span11
            = render partial: 'update', collection: @updates
        .span12.no-lmar
          - new_update = @metropolitan_club.updates.build
          - if current_user.manage_club?(@metropolitan_club)
            %a{href: "#update-form", data: {toggle: "modal"}, class: "btn btn-success fright"} Post Announcement
.clearfix
.seps
.row-fluid
  .container
    .offset2.span10
      - unless @metropolitan_club.club_photos.blank?
        %ul.club-photos
          - @metropolitan_club.club_photos.each do |photo|
            %li
              %a{:"data-toggle" => "modal", href: "#image-#{photo.id}", style: "margin-left: 0"}
                = image_tag photo.image.small, alt: ""
        .clearfix
      .span11.top2.bottom2
        %a#upload-photo.btn.btn-success.fright{href: "javascript:;"} Upload Photo
        %a.btn.btn-success.fright{href: "#my_photos", :"data-toggle" => "modal"} My Photos

.clearfix
- new_update = @metropolitan_club.updates.build
.row-fluid
  .container
    .offset2.span10
      .boll-box
        %h1 City Bulletin Board
        .span12.top2
          %a#post-new-link{href: "#post-form", data: {toggle: "modal"}, class: "btn btn-success fright"} Post Bulletin
        .clearfix
.clearfix

.row-fluid
  .container
    .offset2.span10
      .span11
        - @posts.each do |post|
          %div{id: "post-#{post.id}"}= render partial: "posts/post", locals: {post: post}

.row-fluid
  .container
    .offset2.span10
      %ul.tabs.four-tabs
        %li
          %a{href: "#tab1"}Members
        %li
          %a{href: "#tab2"}About Us
        %li
          %a{href: "#tab3"}Leadership
        %li
          %a{href: "#tab4"}Message
      .clearfix
      .tab_container
        #tab1.tab_content.list_carousel
          #club-member.span3.offset8
            %a.btn.btn2.btn-success
              %i
                = image_tag "search-icon.png"
            = text_field_tag :term, "", placeholder: "Search Members", class: "field"
          .clearfix
         
          %ul.carou-fred-sel
            - @metropolitan_club.members.each do |user|
              %li
                .users
                  %a{href: user_path(user)}
                    = display_image user.profile.image, 'xlarge'
                    %span.fleft= user.name

          %a.prev#prev2{href: "#"} &lt;
          %a.next#next2{href: "#"} &gt;
          #search-results.top2
        #tab2.tab_content
          .span11.top
            = link_to 'edit', "#about-us", class: "btn btn-success btn-mini fright", :"data-toggle" => "modal" if current_user.super_admin? || current_user.university_admin? || @metropolitan_club.leaders.include?(current_user)
          .span11#about= simple_format @metropolitan_club.description

        #tab3.tab_content
          - if current_user.manage_club?(@metropolitan_club)
            .span11.top
              %a{href: "#add-leader", class: "btn btn-success btn-mini fright", data: {toggle: "modal"}} Add Leader
            #add-leader.modal.hide
              = render "leader_form"
          #leaders-list.span11
            = render partial: "leaders"
        #tab4.tab_content
          .fright.top
            - if current_user.manage_club?(@metropolitan_club)
              = link_to "Message to Member", "#club-message-form", "data-toggle" => "modal", class: "btn btn-success btn-mini"
            - else
              = link_to "Message to Club", "#message-to-club", "data-toggle" => "modal", class: "btn btn-success btn-mini"
          .span12
            - @conversations.each do |conversation|
              .span11.border-bottom.left2.top2{id: "conversation-#{conversation.id}"}
                .span12
                  %h3
                    = conversation.subject
                    %small
                      Members: 
                      = conversation.recipients.map{|c| c.name}.join(", ")
                - conversation.messages.order("created_at asc").each do |message|
                  .span12.no-lmar
                    .span2
                      %strong= message.sender.name
                    .span7
                      = simple_format message.body
                      - unless message.attachment.blank?
                        %small.fright
                          Attachment: 
                          = link_to message.attachment.file.filename, message.attachment.url, target: "_blank"
                    .span3.no-lmar
                      .fright.green= time_ago_in_words(message.updated_at) + " ago"
                .span12.no-lmar
                  .fright
                    = link_to "Delete", message_path(conversation, club_id: @metropolitan_club.id), method: :delete, remote: true, class: "red", confirm: "are you sure?"
          
.clearfix
.row-fluid
  .container
    .span12
      .seperator
.clearfix
= render partial: 'updates/form', locals: {update: new_update}
#post-popup= render partial: 'posts/form', locals: {post: Post.new}

#about-us.modal.hide.fade
  = simple_form_for @metropolitan_club, remote: true do |f|
    = hidden_field_tag :partial, "about"
    .modal-header
      %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
      %h3 Edit About Us
    .modal-body
      = f.text_area :description, label: false, rows: 5, style: "width: 100%"
    .clearfix
    .modal-footer
      = f.submit "save", class: "btn btn-success"
#banner-form.upload-form{style: "opacity: 0"}
  = form_for @metropolitan_club, url: upload_image_metropolitan_club_path(@metropolitan_club), method: :post do |f|
    = f.file_field :image
#club_photo-form.upload-form{style: "opacity: 0"}
  = form_for ClubPhoto.new, url: upload_photo_metropolitan_club_path(@metropolitan_club), method: :post do |f|
    = f.file_field :image

.hide
  = link_to "show", "#waiting", :"data-toggle" => "modal", id: "show_waiting"

#waiting.modal.hide.fade
  .modal-header
    %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
    %h3 Uploading..
  .modal-body
    %h3 Upload in process.. Please wait!

#my_photos.modal.hide.fade
  .modal-header
    %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
    %h3 My photos
  .modal-body
    - @my_photos.each do |photo|
      %span2.no-lmar
        = link_to "#image-#{photo.id}", :"data-toggle" => "modal" do
          = image_tag photo.image.thumb

- @metropolitan_club.club_photos.each do |photo|
  .modal.hide.wide-modal{id: "image-#{photo.id}"}
    .modal-header
      %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
      %h4= photo.image.file.filename
    .modal-body
      = image_tag photo.image, alt: "", style: "max-height: 400px;"

= render partial: "shared/club_message", locals: {club: @metropolitan_club}

:javascript
  jQuery(document).ready(function() {//Default Action
    $("#upload-banner").click(function(){
      $("#banner-form input").trigger("click");
    });
    $("#upload-photo").click(function(){
      $("#club_photo-form input").trigger("click");
    });
    $(".upload-form").on("change", "input[type=file]",function(){
      $("a#show_waiting").click();
      $(this).closest("form").submit();
    });

    $(".tab_content").hide(); //Hide all content
    $("ul.tabs li:first").addClass("active").show(); //Activate first tab
    $(".tab_content:first").show(); //Show first tab content
    
    //On Click Event
    $("ul.tabs li").click(function() {
      $("ul.tabs li").removeClass("active"); //Remove any "active" class
      $("ul.tabs a").removeClass("selected");
      $(this).addClass("active"); //Add "active" class to selected tab
      jQuery(this).children("a").addClass('selected');
      //console.log($(this).toSource());
      $(".tab_content").hide(); //Hide all tab content
      var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
      $(activeTab).fadeIn(); //Fade in the active content
      return false;
    });
    $('.club-photos').bxSlider({
      minSlides: 3,
      maxSlides: 9,
      slideWidth: 100,
      slideMargin: 10
    });

    $("#club-member input").keydown(function(e){
      if(e.keyCode == 13){
        $.get("#{search_member_metropolitan_club_path(@metropolitan_club)}", {user: {name: $(this).val()}});
      }
    });
    $("#club-member a").click(function(){
      $.get("#{search_member_metropolitan_club_path(@metropolitan_club)}", {user: {name: $("#club-member input").val()}});
    });

  });