.lal
  .info{:style => "position:relative; z-index:999; width:100%; float:left"}
    %button.btn7{:name => "btn"} Connect
  .comment-box
    = link_to user_path(request.relation), class: "com-img" do
      = display_image(request.relation.profile.image, "thumb")
    .com-name
      %span= request.relation.name
    %p= request.message
  .clearfix

  = render 'relationships/actions', request: request


