%a{href: "javascript:;", style: "margin-right: 25px;"}
  = image_tag request.relation.profile.image.medium
%a.btn.btn7.mar2{href: user_path(request.relation)} View Profile
%p.comp= request.relation.full_name
= text_area_tag :comment, "", placeholder: "#{request.message}", class: "tarea chang7"
.clearfix
%ul.thre-tabs
  %li.no-lmar
    = link_to "Accept",  accept_relationship_path(request), method: :post, class: 'btngree'
  %li
    = link_to "Decline", decline_relationship_path(request), method: :post, class: "btnred"
  %li.no-lmar
    = link_to "Recommend", "#recommend-#{request.id}", class: "btnyellow", data: {toggle: "modal"}
    .modal.hide{id: "recommend-#{request.id}"}
      = simple_form_for(request, url: refer_relationship_path(request), method: 'post') do |f|
        .modal-header
          %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
          %h3 Recommend Another Contact
        .modal-body
          = f.input :relation_id, collection: current_user.relationships.where(status: 'accepted').map(&:user), label_method: :full_name, value_method: :id
        .modal-footer
          = f.submit "Recommend Contact", class: "btn btn3"

    
