%a{href: "javascript:;", style: "margin-right: 25px;"}
  = display_image(request.relation.profile.image, "thumb")
%a.btn.btn-success.btn-small.mar2{href: user_path(request.relation)} View Profile
%p.comp= request.relation.name
= request.message
.clearfix

- if request.pending?
  .span3= link_to "Accept",  accept_relationship_path(request), method: :post, class: 'btn btn-success btn-small'
  .span3= link_to "Decline", decline_relationship_path(request), method: :post, class: "btn btn-danger btn-small"
  .span3
    = link_to "Recommend", "#recommend-#{request.id}", class: "btn btn-warning btn-small", data: {toggle: "modal"}
- else
  .span4{style: "padding-left: 100px;"}
    = link_to "Yes", accept_recommendation_relationship_path(request), method: :post, class: 'btn btn-success btn-small'
  .span4{style: "padding-left: 100px;"}
    = link_to "No", decline_recommendation_relationship_path(request), method: :post, class: 'btn btn-danger btn-small'