.contact_request{id: "contact_request-#{@relationship.id}"}
  .row-fluid
    .span3
      = image_tag contact_request.relation.profile.image
      %br
      %br
      %br
      = link_to "View Profile", user_path(contact_request.relation), class: "btn btn-primary"
    .span9
      = contact_request.relation.full_name
      %br 
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nibh metus, condimentum sed turpis quis, adipiscing ultricies magna. Integer posuere nibh id mauris venenatis, ac volutpat urna aliquet. Nulla commodo purus in elit laoreet, at iaculis leo posuere. Vivamus facilisis, velit non aliquet tempus, magna turpis semper quam, ac hendrerit nisi quam eget neque. Curabitur quis lobortis urna.
      %br
      %strong Request Message
      %br
      = contact_request.message
      %br
      %br
