.row-fluid
  .container
    .span10
      %ul.tabs5
        %li
          %a{href: "#tab1"}Contacts
        %li
          %a{href: "#tab2"}
            Requests
            - if @requests.size > 0
              %i= @requests.size
        %li
          %a{href: "#tab3"}
            Notifications
            - if @unread_alerts.size > 0
              %i#unread_alerts= @unread_alerts.size
        %li
          %a{href: "#tab4"}
            Messages
            - if @unread_messages.size > 0
              %i#unread_messages=  @unread_messages.size
      .clearfix
      .tab_container
        #tab1.tab_content
          - if @contacts.blank?
            %br
            %br
            .span11.top2
              %center
                = link_to "Find contact", user_contacts_path(@user), class: "btn btn-success"
          - else
            .clearfix
            .list_carousel
              %ul#foo2.carou-fred-sel
                = render partial: 'contacts/contact', collection: @contacts
              %a#prev2.prev{href: "#"}
              %a#next2.next{href: "#"}
            %center
              = link_to "See All", user_contacts_path(@user), class: "btn btn-success btn3"
        #tab2.tab_content
          %br
          - if @requests.blank?
            %br
            .span11.top2
              %center
                %h4 No request
          - else
            .left-side
              %ul.msg.msh
                - @requests.each do |relationship|
                  %li{id: "request-#{relationship.id}"}
                    = link_to display_image(relationship.relation.profile.image,"thumb"), read_relationship_path(relationship), remote: true
                    %h4= relationship.relation.name
                    %br
                    %p= relationship.relation.graduation_year
            .right-side
              #current_request.comment-box.ne
                = render partial: "relationships/request", locals: {request: @requests.first} unless @requests.blank?
        .clearfix
        #tab3.tab_content
          %br
          .left-side
            %ul.msg.msh
              - @unread_alerts.each do |alert_notification|
                %li{id: "alert-#{alert_notification.alert.id}"}
                  - if alert_notification.alert.alertable.class == User
                    = link_to display_image(alert_notification.alert.alertable.profile.image,"thumb"), read_alert_path(alert_notification.alert), remote: true
                  - elsif alert_notification.alert.alertable.class == Club
                    = link_to display_image(alert_notification.alert.alertable.image,"thumb"), read_alert_path(alert_notification.alert), remote: true
                  %h4= alert_name(alert_notification.alert.alertable)
                  %br
                  %p= alert_notification.alert.message
          #current_alert.right-side
        .clearfix
        #tab4.tab_content
          %br
          .left-side.msh
            %a{href: "#message-form", data: {toggle: "modal"}, class: "btn btn-success"} New Message
            %ul.msg
              - @conversations.each do |con|
                - message = con.messages.first
                %li{id: "conversation-#{con.id}"}
                  = link_to sender_image(message), read_message_path(con), remote: true
                  %h4
                    = sender_name(message)
                    %small
                      To: 
                      = message.recipients.reject{|c| c.id==message.sender.id}.map{|c| c.name}.join(", ")
                  %br
                  %p= truncate(con.messages.first.body)
          .right-side#current_conversation
