%h1= @user.first_name + ' ' + @user.last_name
%p
  Email: #{@user.email if @user.email}
%p
  %b Skills:
  = @profile.skills
%p
  %b Education:
  = @profile.education
%p
  %h2 Experience:
  - @experiences.each do |experience|
    %b= experience.position_name
    %p= experience.company_name
    %p
      = experience.date_started.strftime("%m-%Y") + " - " + experience.date_ended.strftime("%m-%Y")
