= image_tag @profile.image.thumb.url if @profile.image?

%h1= @user.first_name + ' ' + @user.last_name
%p
  Email: #{@user.email if @user.email}
%b= @user.university.name
%p
  %b Skills:
  = @profile.skills
%p
  %b Education:
  = @profile.education
%h2 Experience:
- @experiences.each do |experience|
  %b= experience.position_name
  %p= experience.company_name
  %p
    = experience.date_started.strftime("%m-%Y") + " - " + experience.date_ended.strftime("%m-%Y")
%h2 Portfolio:
= @portfolio_items.size
- @portfolio_items.each do |pi|
  - if ["png", "jpg", "gif"].include?(pi.file.url.split('.').last)
    %p= image_tag(pi.file.url)
  - else
    %p= link_to(pi.file.url)


-#= @invitations.inspect
-#- @invitations.each do |invitation|
-#  = @token = invitation.token
-#  = link_to "club invite", signup_url(@token)
