#message-form.modal.fade{tabindex: "-1", role: "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
        %h3 New Message
        %p{style: 'font-size:12px;'}
          Please select only one option. If multiple options are selected or multiple fields are filled in, all of the students
          in the largest group will be messaged. For example, if you select “all students” and also select “Fun Club”, the
          message will go to all students in the entire website.
      = simple_form_for Message.new do |f|
        .modal-body
          .span9.no-lmar
            Recipients
          - if current_user.super_admin?
            .span9
              = check_box_tag :student
              All Students
              = check_box_tag :alumni
              All Alumnis
            .span9.no-lmar.top
              = text_field_tag :universities, "", class: "university-auto tags"
          - if current_user.super_admin? || current_user.university_admin?
            .span9.no-lmar.top
              = text_field_tag :clubs, "", class: "club-auto tags"
          .span9.no-lmar.top= f.input :recipients, label: false, input_html: {class: "tagauto tags", value: ""}
          = f.text_area :body, rows: 5, style: "width: 100%", placeholder: "message"
          = f.input :attachment
        .modal-footer
          = f.button :submit, 'Send message', class: "btn btn-success"


:javascript
  $(document).ready(function(){
    $(".university-auto").tagsInput({
      width:'90%', 
      height: "35px",
      defaultText: 'universities',
      autocomplete_url: "#{auto_search_universities_path}",
    });
    $(".club-auto").tagsInput({
      width:'90%', 
      height: "35px",
      defaultText: 'clubs',
      autocomplete_url: "#{auto_search_clubs_path}",
    });
    $('.tagauto').tagsInput({
      width:'90%',
      height: "35px",
      defaultText: 'recipients',
      autocomplete_url: "/users/search",
      autocomplete: {autoFocus: true}
    });
  });
