%section.page1#homepage_banner
  .page_container
    .row.login_banner_image
      .col-md-12
        = link_to image_tag('logo.png'), root_path, class: 'logo2'

    #login.row
      .col-md-12.text-center
        .hidden-xs
          %h1 Professional Alumni Network + Vibrant College Campus =
          %h2
            THE BEST FOUR YEARS OF YOUR LIFE BROUGHT
            %br
            TO THE REAL WORLD.
      .row
        .col-md-offset-4.col-lg-4.col-md-4.col-sm-12
          = render 'home/login'

    #student_registration.row
      .col-md-offset-2.col-md-12
        = render 'home/student_registration'

    #alumi_registration.row
      .col-md-offset-2.col-md-12
        = render 'home/alumni_registration'

    #homepage_options.row.visible-lg
      .col-md-4
        .centerx
          %a.mod6.btn-primary.btn-homepage.for_students{:href => "javascript:;"} For Students

      .col-md-4
        .centerx
          %a.mod6.btn-primary.btn-homepage.for_alumni{:href => "javascript:;"} For Alumni

      .col-md-4
        .centerx
          %a.mod6.btn-primary.btn-homepage.about_us{:href => "javascript:;"} About Us

%section.page2#students
  = render 'home/student_section'

%section.page3#alumni
  = render 'home/alumni_section'

%section.page4#about
  = render 'home/about_section'
