- if current_user.alumni?
  %h2.title
    Access your network wherever you go.
  %h2.club-filter
    = select_tag "metropolitan_club", options_from_collection_for_select(MetropolitanClub.metropolitan_clubs_sorted_by_popularity, "slug", "city_name"), :prompt => "Select City", :id => "metropolitan_club_city_selector", :class => "gentle"
- else
  %h2
    Find
    %span
      - if params[:free_food]=='false'
        All Events
        = image_tag('arrow-down.png')
        = link_to "Free Food", filter_university_events_path(university, free_food: 'true', today: params[:today] || 'true'), remote: true, class: 'find-by-food'
      - else
        Free Food
        = image_tag('arrow-down.png')
        = link_to "All Events", filter_university_events_path(university, free_food: 'false', today: params[:today] || 'true'), remote: true, class: 'find-by-food'
    %span.day-filter
      - if params[:today]=='false'
        All Days
        = image_tag('arrow-down.png')
        = link_to "Today", filter_university_events_path(university, today: "true", free_food: params[:free_food] || 'true'), remote: true, class: 'find-by-date'
      - else
        Today
        = image_tag('arrow-down.png')
        = link_to "All Days", filter_university_events_path(university, today: "false", free_food: params[:free_food] || 'true'), remote: true, class: 'find-by-date'

