.row
  .col-md-12
    .slider
      %ul#flexiselDemo2
        - events.each do |event|
          %li
            .row
              .col-md-12
                = link_to display_image(event.image, "medium"), '#'
            .row
              .col-md-12
                %p
                  = event.title
                %p
                  = "#{event.at_time.strftime("%I:%M %p")}," if event.at_time
                  = event.location
    .slider-background
