.row
  .col-md-12
    .slider
      %ul#flexiselDemo2.events-list
        - events.each do |event|
          %li.event{"data-url" => university_events_path(university, event_id: event.id, w_begin: event.on_date.beginning_of_week.strftime("%y%m%d"), date: event.on_date.strftime("%m%y"), filter: 'weekly')}
            .row
              .col-md-12
                = link_to display_image(event.image, "medium"), '#'
            .row
              .col-md-12
                %p
                  = truncate event.title, length: 27
                %p
                  = "#{event.at_time.strftime("%I:%M %p")}," if event.at_time
                  = event.location
    .slider-background
