- last_week = @w_begin.beginning_of_week - 1.week
- next_week = @w_begin.beginning_of_week + 1.week

= link_to "<<", university_events_path(@university, w_begin: last_week.strftime("%y%m%d"), filter: 'weekly'), remote: true
= "#{@w_begin.end_of_week.strftime("%B %d, %Y")} - #{@w_begin.beginning_of_week.strftime("%B %d, %Y")}"
/= "Week of February 24, 2014"
= link_to ">>", university_events_path(@university, w_begin: next_week.strftime("%y%m%d"), filter: 'weekly'), remote: true
