= content_for :page_title do
  .title
    %h1
      Events
      %a#new-event-link{:href => "#", "data-toggle" => "modal", "data-target" => "#event-popup"}
        Add Event
        %span.green-text >>
      %a{:href => "#"}
        My Events
        %span.green-text >>


= content_for :left_side do
  = hidden_field_tag "selected_event_id", params[:event_id]
  .caltitle
    %p.month_slide
      = render partial: "month_bar", locals: {date: Date.today}

  .session
    = link_to "Free Food", university_events_path(@university, filter: "freefood"), remote: true, class: "free_food"
    = link_to "Weekly", university_events_path(@university, filter: "weekly"), remote: true, class: "weekly current"
    = link_to "Monthly", university_events_path(@university, filter: "monthly"), remote: true, class: "monthly"


  #weekly-events-calendar
    .row
      .col-md-12.no-padding
        = image_tag('wcal.png')

  #monthly-events-calendar
    .row
      .col-md-12.no-padding
        = image_tag('mon.png')

  #events-list
    = render partial: "list", locals: {events: @events}

= content_for :right_side do
  #event-detail
    = render partial: "detail_list", locals: {events: @events}

  #event-area-monthly-listing
    .monthly-event-listing
      .event-area-title
        %p
          My #{Date.today.strftime("%B")} Events
      %table.table
        - @events.each do |event|
          %tr.event-item{"data-id" => event.id}
            %td.text-center
              = display_image event.image, "small"
            %td
              %p= event.title
              %p= event.date
            %td
              %p= truncate event.description, length: 70

  = render partial: 'events/form', locals: {event: @event}
  #error.hide= @event.errors.blank? ? 'f' : 't'
