

= content_for :page_title do
  .title
    %h1
      Events
      %a#new-event-link{:href => "#", "data-toggle" => "modal", "data-target" => "#event-popup"}
        Add Event
        %span.green-text &raquo;
      %a{:href => "#"}
        My Events
        %span.green-text &raquo;

= content_for :left_side do
  = hidden_field_tag "selected_event_id", params[:event_id]
  .caltitle
    %p.month_slide
      = render partial: "month_bar", locals: {date: Date.today}

  .session
    = link_to "Free Food", university_events_path(@university, filter: "freefood"), remote: true, class: "free_food"
    = link_to "Weekly", university_events_path(@university, filter: "weekly"), remote: true, class: "weekly"
    = link_to "Monthly", university_events_path(@university, filter: "monthly"), remote: true, class: "monthly current"


  -##weekly-events-calendar

  -##monthly-events-calendar
  -#:css
  -#   #monthly-events-calendar .ui-datepicker {
  -#    height: 100%;
  -#    width: 100%;
  -#  }
  -#  #monthly-events-calendar .ui-datepicker td a {
  -#    padding: 30% 43%;
  -#  }
  -#  #monthly-events-calendar .ui-widget-content {
  -#    background: none;
  -#    border: none;
  -#  }
  -#  #monthly-events-calendar .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  -#    background: none;
  -#    border: none;
  -#  }
  -#  #monthly-events-calendar .ui-state-active {
  -#    background: #59DA88;
  -#    -moz-border-radius: 60%;
  -#    -webkit-border-radius: 60%;
  -#    border-radius: 60%;
  -#  }

  #events-list
    = render partial: "list", locals: {events: @events}

= content_for :right_side do
  #event-detail
    = render partial: "detail_list", locals: {events: @events}
  .clearfix

  -##event-area-monthly-listing
  -#.monthly-event-listing
  -#  .event-area-title
  -#    %p
  -#      My #{Date.today.strftime("%B")} Events
  -#  %table.table
  -#    - @events.each do |event|
  -#      %tr.event-item{"data-id" => event.id}
  -#        %td.text-center
  -#          = display_image event.image, "small"
  -#        %td
  -#          %p= event.title
  -#          %p= event.date
  -#        %td
  -#          %p= truncate event.description, length: 70

  #monthly-events-list
    .monthly-event-listing
      .event-area-title
        %p
          My Events
      = render partial: "list", locals: {events: @my_events}





  = render partial: 'events/form', locals: {event: @event}
  #error.hide= @event.errors.blank? ? 'f' : 't'
