= content_for :header do
  .span12.header-box{style: "margin-left: -30px; width: 103%;"}
    %center.bottom2
      %strong Calendar
    .fright.top2.bottom2
      = link_to "Add Event", "javascript:;", class: "btn btn-success"

  .clearfix
  .span10.top2
    %center.calendar-bar
      = link_to "<i class='icon-white icon-chevron-left'></i>".html_safe, "/prev_week/#{@week_start.strftime('%y%m%d')}", class: "btn btn-success btn-large prev-week", remote: true
      %span#week-title.btn.btn-success.btn-large
        = week_title(@week_start)
      = link_to "<i class='icon-white icon-chevron-right'></i>".html_safe, "/next_week/#{@week_start.strftime('%y%m%d')}", class: "btn btn-success btn-large next-week", remote: true
  .span10.top2
    %center
      %span.switch-view.top20
        %strong= link_to "MONTHLY VIEW", "javascript:;"
  .span12.top2{style: "margin-left: -30px; width: 103%;"}
    .week-bar
      %span SUN
      %span MON
      %span TUE
      %span WED
      %span THU
      %span FRI
      %span SAT
  .span12.top2.bottm2{style: "margin-left: -30px; width: 103%;"}
    .day-list
      = render partial: "one_week"
  .clearfix
  #event-list
    .span12.top2{style: "margin-left: -30px; width: 103%;"}
      .span12.event-item
        .span12.left2.ev-title= link_to "Event Title", "javascript:;"
        .span12.ev-description.top= "This Sunday the Davidson College Choir will be sponsoring a concert in ther union."
    .span12.top2{style: "margin-left: -30px; width: 103%;"}
      .span12.event-item
        .span12.left2.ev-title= link_to "Event Title", "javascript:;"
        .span12.ev-description.top= "This Sunday the Davidson College Choir will be sponsoring a concert in ther union."
    .span12.top2{style: "margin-left: -30px; width: 103%;"}
      .span12.event-item
        .span12.left2.ev-title= link_to "Event Title", "javascript:;"
        .span12.ev-description.top= "This Sunday the Davidson College Choir will be sponsoring a concert in ther union."


:javascript
  $(document).ready(function(){
    $(".day-list").on("click", ".btn", function(){
      $(".day-list span").removeClass("active");
      $(".day-list a").removeClass("btn-success");
      $(this).addClass("btn-success");
      $(this).closest('span').addClass("active");
    });
  });