= content_for :header do
  .span3
    = link_to "#", class: "mono" do
      = image_tag @club.image.xxlarge, class: "circular"
  .span8
    .carus
      .page-title{style: "margin-top: 100px"} New invitation
  .clearfix
.row-fluid
  .container
    .span10.offset2
      = simple_form_for [@university, @club, @invitation], :html => { :class => "top2 bottom2" } do |f|
        = f.input :recipient_ids, label: false, input_html: {class: "invitation-auto tags", value: ""}
        = f.submit :class => 'btn btn-success'
.clearfix

:javascript
  $(document).ready(function(){
    $(".invitation-auto").tagsInput({
      width:'90%', 
      height: "35px",
      defaultText: 'receipients',
      autocomplete_url: "/universities/#{@university.id}/clubs/#{@club.id}/invitations/search",
    });
  });
