- album.club_photos.build if album.club_photos.blank? 
#create_album.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
        %h4#myModalLabel.modal-title Create Album
      / modal-header
      .modal-body
        - album.errors.full_messages.each do |msg|
          .red= msg
          %br
        = nested_form_for [@club, album], html: {class: "forms"}, remote: true do |f|
          .half
            %label Name
            = f.text_field :name
            .clearfix
            %label Location
            =f.text_field :location
            .clearfix
          / half
          .half
            = f.fields_for :club_photos do |fp|
              %label Image
              = fp.file_field :image
              = fp.text_field :caption, placeholder: "image caption"
              = fp.hidden_field :user_id, value: current_user.id
              %br
              = fp.link_to_remove "<i class='glyphicon glyphicon-remove'></i>".html_safe
              .clearfix
            = f.link_to_add "Add image", :club_photos, class: "btn btn-primary btn-mini fleft"
          .clearfix
          / half
          %label.ne.wig Description
          = f.text_area :description, class: "texta"
          %button.btng{:name => "btn", type: "submit"} Create Album
        .clearfix