.modal.fade{id: "album-#{album.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
        %h4#myModalLabel.modal-title= album.name
      .modal-body
        .carousel.slide.mod5{"data-ride" => "carousel", id: "album#{album.id}-side"}
          .carousel-inner
            - album.club_photos.each do |photo|
              .item{class: "#{'active' if photo==album.club_photos.first}", "data-caption" => photo.caption}
                = image_tag photo.image
              %p.caption= photo.caption
          %a.left.carousel-control{"data-slide" => "prev", :href => "#album#{album.id}-side"}
            = image_tag "slider-left.png"
          %a.right.carousel-control{"data-slide" => "next", :href => "#album#{album.id}-side"}
            = image_tag "slider-right.png"
          %br/
          %br/
        .cap
          %p
            %span
              Post comments
            .album-commments{id: "album#{album.id}-comments"}
              %p.cm-list
                - album.comments.each do |comment|
                  = render partial: "comments/comment", locals: {comment: comment}
              .top2.col-md-12.pull-left
                = simple_form_for [album, Comment.new], remote: true do |f|
                  = f.input :comment, as: :text, label: false, input_html: {class: "col-md-12", rows: 4}
                  = f.submit "Post", class: "btn btn-sm btn-success top"
        .clearfix
