.offset4.span4
  .login

    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical login-form'}) do |f|
      = link_to "javascript:void(0);", :class => 'logo2' do
        = image_tag('logo.png')
      %input#user_email.string.email.fioled0{:name => 'user[email]', :autofocus => 'autofocus', :type => 'email', :placeholder => 'Email'}
      %input#user_password.password.fioled0{:name => 'user[password]', :autofocus => 'autofocus', :type => 'password', :placeholder => 'Password'}
      = link_to "Forgot password?", "#"
      .clearfix
      = link_to_function "Login", "$(this).closest('form').submit()", class: "btn btn4", style: "width: 35%"
      %a.btn.btn4{href: new_user_registration_path, style: "width: 35%"} Register
.offset4

