%li
  %a.avatr= display_image update.user.profile.image, 'small'
  = link_to '', metropolitan_club_update_path(@metropolitan_club, update), { data: {:confirm => "Are you sure?"}, :method => 'delete', :class => "close-button icon-remove"}
  %span.pull-right= update.created_at.try(:strftime, "%A, %b %d, %Y at %I:%M-%p")
  %h4
    = update.user.full_name.capitalize
    %a{href: "javascript:;", class: 'btn btn-success btn-mini', id: 'edit-update', "data-url" => "#{metropolitan_club_update_path(@metropolitan_club, update)}"} Edit
  %p= update.body
  %a.com{href: "javascript:;"} Comment
  .clearfix