%li.light
  .col-md-3
    - if post.user.present?
      = link_to user_path(post.user), class: "img2" do
        = display_image post.user.profile.image, "thumb"
  .col-md-9
    %h3
      - if post.user.present?
        = link_to post.user.name, user_path(post.user)
    %br
    %span= post.content
    %br
    = link_to "Post comment", "javascript:;", class: "po-cm"
    .comments.top.hide{id: "post#{post.id}-comments"}
      %span.cm-list
        - post.comments.each do |comment|
          = render partial: "comments/comment", locals: {comment: comment}
      .top2.col-md-12.pull-left
        = simple_form_for [post, Comment.new], remote: true do |f|
          = f.input :comment, as: :text, label: false, input_html: {class: "col-md-12", rows: 4}
          = f.submit "Post", class: "btn btn-sm btn-success top"
