.modal.wide-modal.hide.fade{id: "card-form#{item.id}"}
  .modal-header
    %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
    %h3 Checkout
  = form_for Transaction.new(quantity: 1), html: {class: "card-form", id: "transaction-#{item.id}"} do |f|
    .modal-body
      .bottom
        Item:
        %strong= item.name
      .bottom
        Price: 
        %strong= "$#{item.price}"
      .bottom
        Quantity
        = f.text_field :quantity, class: "span1", placeholder: "1"
        %span.left
          Total:
          %span.total-price= "$#{item.price}" 
      - if customer = current_user.customer_of(item.club)
        %br
        = "Existing Card: **** **** **** #{customer.last4}"
        .bottom2
          = check_box_tag :update_card, "", false, class: 'update_card'
          Update Card?
      .new-card{class: "#{'hide' if current_user.customer_of(item.club)}"}
        .stripe_error.red
        .span8.no-lmar
          = text_field_tag :card_number, nil, name: nil, placeholder: "Card Number"
          = text_field_tag :card_code, nil, name: nil, placeholder: "CVC", class: "span2"
        .span8.no-lmar
          = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
          = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: "span2"}
      = hidden_field_tag :stripe_card_token
      = f.hidden_field :item_id, value: item.id
    .clearfix
    .modal-footer
      = f.submit "Checkout", class: "btn btn-success"
      = hidden_field_tag :item_price, item.price 