- @free_food_events.each do |event|
  .span12.top2.no-lmar{id: "event-#{event.id}"}
    .span2.no-lmar
      - if event.eventable.instance_of?(Club)
        = link_to university_club_path(@university, event.eventable) do
          = display_image event.eventable.image, "thumb"
      - elsif event.eventable.instance_of?(MetropolitanClub)
        = link_to metropolitan_club_path(event.eventable) do
          = display_image event.eventable.image, "thumb"
      - else
        = display_image event.eventable.image, "thumb"
    .span10.event-item
      .span10.left2.ev-title= link_to event.title, university_university_event_path(current_user.university, event)
      .span1
        .fright= link_to "delete", university_university_event_path(@university, event), method: :delete, remote: true, class: "btn btn-danger btn-mini", confirm: "are you sure?" if current_user.manage_event?(event)
      .span12.left2.bottom
        %strong Location
        = event.location
        %br
        %strong DateTime
        = event.date
        = " "
        = event.time
        .span12.ev-description.top= event.description

- if @free_food_events.blank?
  %center
    %h4 No event