= content_for :head do
  = stylesheet_link_tag 'college', 'static/buttons'
  = javascript_include_tag 'static/college'

- @full_page = true

= content_for :page_title do
  .row
    .col-md-11.no-padding
      %a.dra{:href => "#"}= @university.name
    .col-md-1.no-padding
      = image_tag(current_user.profile.image.small, class: "user-gravatar")
= content_for :full_page do
  .row
    .col-md-6.no-padding
      .find-your-passion
        %ul.btns.showaa
          %li
            %a{:href => "search.html"}
              %button.btn.btn2{:name => "btn"} Find your club. Find your passion. >>
          - @clubs.each do |club|
            %li
              %a{:href => university_club_path(@university, club)}
                %button.btn.btn2{:name => "btn"}= club.name

      .row
        .col-md-6.no-padding
          .all-clubs
            = link_to university_clubs_path(@university) do
              .blank Soccer Club (55)
              %button.btn.btn3 All Clubs
        .col-md-6.no-padding
          .club-updates
            %h2 Club Updates
            - @club_updates.each do |update|
              - club = update.updateable
              %p.nsw
                %span
                  %a{:href => university_club_path(@university, club)}= club.name
                = truncate update.body, length: 30
                %span
                  %a{href: "#update#{update.id}-popup", data: {toggle: "modal"}} >>

    .col-md-6.no-padding
      .slider
        #filter_bar= render partial: "events/filter_bar"
      
        .row#event-carousel{style: "min-height: 150px"}
          .events-slide= render partial: "events/slide", locals: {events: @events}
        %a{:href => university_events_path(@university)}
          %button.btn.btn3{:name => "btn"} View All
      
      .row
        .col-md-6.no-padding
          .alumni-search
            %h2 Alumni Search
            = form_tag :search do
              %ul
                %li
                  = text_field_tag :name, "", placeholder: "Name"
                %li
                  = text_field_tag :city, "", placeholder: "City"
                %li
                  = select_tag :professional_field_id, options_from_collection_for_select(ProfessionalField.all.sort_by(&:name), :id, :name), prompt: "Field"
                %li
                  = text_field_tag :major, "", placeholder: "Major"
                %li
                  = text_field_tag :graduation_year, "", placeholder: "Grade Year"
                %li
                  %button.btn.btn3{type: "submit"} Access Your Network

        .col-md-6.no-padding
          .college-updates
            %h2 College Updates
            - @updates.each do |update|
              %a{href: "#update#{update.id}-popup", data: {toggle: "modal"}}
                %p
                  = truncate update.body.html_safe, length: 30
                  %span >>
  - @updates.each do |update|
    = render partial: 'updates/update', locals: {update: update}

  - @club_updates.each do |update|
    = render partial: 'updates/update', locals: {update: update}
:javascript
  $(document).ready(function(){
  $('.selectyze2').Selectyze({
      theme : 'mac'
  });
  $(".nsw").on('click', function() {
     $(".showaa").hide();
     $(".hid").show();
  });
  });
