= content_for :header do
  .span3
    = link_to "javascript:void(0);", class: 'mono mn' do
      = display_image(@university.image, "xxlarge")
  .span7
    .span12{style: "margin-top: 200px;"}
      .page-title.bottom2{style: "color: #fff;"}= @university.name
      %ul#events.flexisel
        - @university_events.each do |event|
          %li
            = link_to "#event#{event.id}_detail", :"data-toggle" => "modal", class: 'event-slide-item'  do
              = display_image_square event.image, "medium"
            %br
            %h4= event.title
            %p
              = event.date
              %br
              = event.time
  .span2.no-lmar.top200
    .fright
      - if current_user.manage_university?(@university)
        %a#upload-banner.btn.btn-success.btn-mini{href: "javascript:;"} Change 
  .clearfix
- @university_events.each do |event|
  = render partial: "university_events/event", locals: {event: event}
.top2
  &nbsp
.row-fluid
  .container.top2
    .span10.offset2.top2
      %ul.tabs3
        %li= link_to "Community", "#tab1"
        %li= link_to "Clubs", "#tab2"
        %li= link_to "Free Food", "#tab3", id: "free_food_tab"
        %li= link_to "Alumni Map", "#tab4"
        %li= link_to "Register New", "#tab5", id: "new-club"
      .clearfix
      .tab_container
        #tab1.tab_content
          .filters
            %p Filter by:
            = link_to "All", "javascript:;", :"data-toggle" => ".users-list", :"data-target" => "#all-users", class: 'toggle1 active'
            = link_to "Students", "javascript:;", :"data-toggle" => ".users-list", :"data-target" => "#students", class: 'toggle1'
            = link_to "Alumni", "javascript:;", :"data-toggle" => ".users-list", :"data-target" => "#alumnis", class: 'toggle1'
          .clearfix
          #all-users.users-list.offset1
            .span9.list_carousel
              %ul.community-slide
                - @users.each_slice(3) do |slide|
                  %li{style: "width: 190px;line-height: 20px;"}
                    - slide.each do |user|
                      .span12.image
                        = link_to user_path(user) do
                          = display_image user.profile.image, 'thumb'
                      .info.span12
                        = user.name

              %a.cprev.prev &lt;
              %a.cnext.next &gt;
          #students.users-list.offset1.transparent
            .span9.list_carousel
              %ul.community-slide1
                - @users.student.each_slice(3) do |slide|
                  %li{style: "width: 190px;line-height: 20px;"}
                    - slide.each do |user|
                      .span12.image
                        = link_to user_path(user) do
                          = display_image user.profile.image, 'thumb'
                      .span12.info
                        = user.name

              %a.cprev1.prev &lt;
              %a.cnext1.next &gt;
          #alumnis.users-list.offset1.transparent
            .span9.list_carousel
              %ul.community-slide2
                - @users.alumni.each_slice(3) do |slide|
                  %li{style: "width: 190px;line-height: 20px;"}
                    - slide.each do |user|
                      .span10.image
                        = link_to user_path(user) do
                          = display_image user.profile.image, 'thumb'
                      .span12.info
                        = user.name

              %a.cprev2.prev &lt;
              %a.cnext2.next &gt;


        #tab2.tab_content.list_carousel
          %ul#foo2.carou-fred-sel
            - item_mar = ""
            - item_mar = "margin-left: 100px;" if @clubs.size == 2
            - item_mar = "margin-left: 300px;" if @clubs.size == 1
            - @clubs.each do |club|
              %li{style: item_mar}
                .users
                  - path = club.instance_of?(MetropolitanClub) ? metropolitan_club_path(club) : university_club_path(@university, club)

                  = link_to path do
                    = display_image club.image, 'xlarge'
                    %span.fleft= club.name

          %a.prev#prev2{href: "#"} &lt;
          %a.next#next2{href: "#"} &gt;
          %center
            %a.btn.btn-success.btn3{href: university_clubs_path(@university)} See all
        #tab3.tab_content.span10{style: "margin-left: 60px;"}
          .span12.top2.no-lmar
            .fright
              = text_field_tag :on_date, @search_date,class: "field datepicker", placeholder: "Date", style: "width: 80%"
          #free-foods-list
            = render partial: "free_foods" 
          .span12.no-lmar.top2
            %center= link_to "Add New", "#free-food-popup", :"data-toggle" => "modal", class: "btn btn-success", id: "event_link"
        #tab4.tab_content
          .span11
            .span3.no-lmar.dropdown
              %a.btn.btn-success.btn2.chang.dropdown-toggle{:href => "javascript:;", :"data-toggle" => 'dropdown'}
                %i
                  = image_tag "dropdown-arrow.png"
              %ul.dropdown-menu{style: "margin: -10px 0 0 22px"}
                - City.order(:name).each do |city|
                  %li.city-users
                    %a= city.name
              = text_field_tag "city", "", class: "field dropdown-toggle", :"data-toggle" => 'dropdown', placeholder: "Cities"
            .span8.left2.top2
          .clearfix
          .list_carousel
            %ul.city-slide
              - City.order(:name).each do |city|
                %li
                  .users
                    = link_to "javascript:;" do
                      - if @university.metropolitan_club(city.id).image
                        = display_image @university.metropolitan_club(city.id).image, 'xlarge'
                        %span.fleft= city.name
                    .hovers{style: "text-align: center;"}
                      = link_to filter_users_path(user: {city: city.name}), remote: true do
                        %p
                          %h3.left2= "#{city.users.count} #{city.users.count == 1 ? 'people' : 'peoples'}"

            %a.city-prev.prev{href: "#"} &lt;
            %a.city-next.next{href: "#"} &gt;
          .clearfix

          .span12.bottom2
            

        #tab5.tab_content
          .span11.left2
            %h4 Create Club
          .span11= render partial: "universities/club_form"

.hide= link_to "", "#users-popup", :"data-toggle" => "modal", id: "open-result"
#users-popup.modal.wide-modal.hide.fade{tabindex: "-1", role: "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true"}
  .modal-header
    %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
    %h3 Search Users Result
  .modal-body
    .span9= render partial: "users/filter_options"
    .span9#search-results
  .clearfix
  .modal-footer
    %button.btn.btn-warning{type: "button", data: {dismiss: "modal"}} Close

.clearfix
.row-fluid
  .container
    .span10.offset2
      %ul.tabs4
        %li= link_to "Club Updates", "#tabss1"
        %li= link_to "College Updates", "#tabss"
      .tab_container
        #tabss1.tab_content2
          %ul.posts.newp
            - @club_updates.each do |update|
              %li
                = link_to "javascript:void(0);", class: 'avatr' do
                  %span{style: "padding-top: 0"}
                    - if update.image.blank?
                      No Image
                    - else
                      = image_tag update.image.thumb
                %h4= update.headline
                %p= update.body
                = link_to time_ago_in_words(update.created_at) + " ago", "javascript:void(0);", class: "com ncom"
                .clearfix
        #tabss.tab_content2
          .span11.top2
            - if current_user.manage_university?(@university)
              %a{href: "#update-form", data: {toggle: "modal"}, class: "btn btn-success fright"} Post Update
          %ul.posts.newp
            - @updates.each do |update|
              %li
                = link_to "javascript:void(0);", class: 'avatr' do
                  = display_image_square update.image, "small"
                %p= update.body
                = link_to time_ago_in_words(update.created_at) + " ago", "javascript:void(0);", class: "com ncom"
                .clearfix

#free-food-popup.modal.hide.fade{tabindex: "-1", role: "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true"}
  ~ simple_form_for @event, url: create_free_food_event_university_path(@university) do |f|
    .modal-header
      %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
      %h3 New free food event
    .modal-body
      = f.input :title
      = f.input :on_date, as: :string, label: "Date", input_html: {class: "datepicker"}
      = f.input :at_time, label: "Time", as: :time, ampm: true, minute_step: 5, default: {hour: 0, minute: 0},input_html: {style: "width: 80px"}
      = f.input :location
      = f.input :description, as: :text, input_html: {rows: 2}
      = f.input :category, as: :category
      = f.input :image, as: :file
      = f.input :club_id, collection: @university.clubs.order(:name), prompt: "Select Club"
      = f.hidden_field :display_on_uc, value: true
      = f.hidden_field :free_food, value: true
    .clearfix
    .modal-footer
      = f.submit "Add Event", class: "btn btn-success"
- if current_user.manage_university?(@university)
  #banner-form.upload-form{style: "opacity: 0"}
    = form_for @university do |f|
      = f.file_field :banner
  - new_update = @university.updates.build
  = render partial: 'updates/form', locals: {update: new_update}
#waiting.modal.hide.fade
  .modal-header
    %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
    %h3 Uploading..
  .modal-body
    %h3 Upload in process.. Please wait!

:javascript
  $(document).ready(function(){
    if("#{@club.errors.any?}" == "true"){
      $("#new-club").click();
      $(document).scrollTop( $("#new-club").offset().top );
    }

    if("#{@event.errors.any?}" == "true"){
      $(document).scrollTop( $("#free_food_tab").offset().top );
      $("#free_food_tab").click();
      $("#event_link#{@event.id}").click();
    }

    $("#on_date").change(function(){
      $.get("#{search_events_university_path(@university)}", {on_date: $(this).val()});
    });

    $("#upload-banner").click(function(){
      $("#banner-form input").trigger("click");
    });

    $(".upload-form").on("change", "input[type=file]",function(){
      $("a#show_waiting").click();
      $(this).closest("form").submit();
    });

  });
