%h1
  Welcome to
  = @university.name
  = image_tag @university.image_url if @university.image?

%p
  %b Mascot:
  = @university.mascot
%p
  %b Location:
  = @university.location

%h2 Users
%ul
- @users.each do |user|
  %li= link_to user.full_name, user_path(user) if user.present?

%h3 Clubs
= link_to "Create A New Club", new_university_club_path(@university)
- if @clubs.present?
  %ul
    - @clubs.each do |club|
      %li= link_to club.name, university_club_path(@university, club)

%h3 Updates
- @updates.each do |update|
  = image_tag update.image_url if update.image?
  = update.body
  %br
  = update.created_at.to_date
%hr

- if current_user.present?
  - if current_user.super_admin? || current_user.university_admin?
    = link_to "New Update", [:new, @updateable, :update], :class => 'btn btn-primary'
