%h1
  Welcome to
  = @university.name
%p
  %b Mascot:
  = @university.mascot
%p
  %b Location:
  = @university.location

%h2 Users
- @users.each do |user|
  = link_to user.full_name, user_path(user) if user.present?

%h3 Updates
- @updates.each do |update|
  = update.body
  %br
  = update.created_at.to_date
%hr

- if current_user.super_admin? || current_user.university_admin?
  = link_to "New Update", [:new, @updateable, :update], :class => 'btn btn-primary'