= content_for :header do
  .span3
    = link_to "javascript:void(0);", class: 'mono mn' do
      = display_image(@university.image, "xxlarge")#image_tag @university.image.xxlarge, class: "circular"
  .span7
    .carus
      %ul#events.flexisel
        - @university_events.each do |event|
          %li
            = link_to university_university_event_path(@university, event) do
              = display_image_square event.image, "medium"
            %br
            %h4
              = event.title
            %p
              = event.date
              %br
              = event.time
        - @clubs.each do |club|
          - club.events.each do |club_event|
            %li
              = link_to university_club_club_event_path(@university, club, club_event) do
                = image_tag(club_event.image)
              %br
              %h4
                = club_event.title
              %p
                = club_event.date
                %br
                = club_event.time
  .clearfix

.row-fluid
  .container
    .span10.offset2.top2
      %ul.tabs3
        %li= link_to "Community", "#tab1"
        %li= link_to "Clubs", "#tab2"
        %li= link_to "Free Food", "#tab3"
        %li= link_to "Alumni Map", "#tab4"
        %li= link_to "Register New", "#tab5", id: "new-club"
      .clearfix
      .tab_container
        #tab1.tab_content
          .filters
            %p Filter by:
            = link_to "All", "javascript:;", :"data-toggle" => ".users-list", :"data-target" => "#all-users", class: 'toggle1 active'
            = link_to "Students", "javascript:;", :"data-toggle" => ".users-list", :"data-target" => "#students", class: 'toggle1'
            = link_to "Alumni", "javascript:;", :"data-toggle" => ".users-list", :"data-target" => "#alumnis", class: 'toggle1'
          .clearfix
          #all-users.users-list.offset1
            .span9.list_carousel
              %ul.community-slide
                - @users.each_slice(3) do |slide|
                  %li{style: "width: 190px;line-height: 20px;"}
                    - slide.each do |user|
                      .span10.image
                        = link_to user_path(user) do
                          = display_image user.profile.image, 'thumb'
                      .info
                        .span10
                          = user.full_name

              %a.cprev.prev{href: "#", style: "margin-right: 20px; margin-top: -250px"} &lt;
              %a.cnext.next{href: "#", style: "margin-right: 0; margin-top: -250px"} &gt;
          #students.users-list.offset1.transparent
            .span9.list_carousel
              %ul.community-slide1
                - @users.student.each_slice(3) do |slide|
                  %li{style: "width: 190px;line-height: 20px;"}
                    - slide.each do |user|
                      .span10.image
                        = link_to user_path(user) do
                          = display_image user.profile.image, 'thumb'
                      .info
                        .span10
                          = user.full_name

              %a.cprev1.prev{href: "#", style: "margin-right: 20px; margin-top: -250px"} &lt;
              %a.cnext1.next{href: "#", style: "margin-right: 0; margin-top: -250px"} &gt;
          #alumnis.users-list.offset1.transparent
            .span9.list_carousel
              %ul.community-slide2
                - @users.alumni.each_slice(3) do |slide|
                  %li{style: "width: 190px;line-height: 20px;"}
                    - slide.each do |user|
                      .span10.image
                        = link_to user_path(user) do
                          = display_image user.profile.image, 'thumb'
                      .info
                        .span10
                          = user.full_name

              %a.cprev2.prev{href: "#", style: "margin-right: 20px; margin-top: -250px"} &lt;
              %a.cnext2.next{href: "#", style: "margin-right: 0; margin-top: -250px"} &gt;          


        #tab2.tab_content.list_carousel
          %ul#foo2.carou-fred-sel
            - item_mar = ""
            - item_mar = "margin-left: 100px;" if @clubs.size == 2
            - item_mar = "margin-left: 300px;" if @clubs.size == 1
            - @clubs.each do |club|
              %li{style: item_mar}
                .users
                  = link_to university_club_path(@university, club) do
                    = display_image club.image, 'xlarge'
                    %span.fleft= club.name

          %a.prev#prev2{href: "#"} &lt;
          %a.next#next2{href: "#"} &gt;
          %center
            %buttuon.btn.btn-success.btn3{name: 'btn'} See all
        #tab3.tab_content.span10{style: "margin-left: 60px;"}
          - if @free_food_events.blank?
            %center
              %h4 No event
          - else
            %ul#free-food.flexisel
              - @clubs.each do |club|
                - club.events.each do |club_event|
                  %li
                    = link_to university_club_club_event_path(@university, club, club_event) do
                      = display_image_square club_event.image, "large"
                    .span10.left3
                      %h4= club_event.title
                      %p= club_event.date
                      %p= club_event.time


        #tab4.tab_content
          .span11
            .span3.no-lmar.dropdown
              %a.btn.btn-success.btn2.chang.dropdown-toggle{:href => "javascript:;", :"data-toggle" => 'dropdown'}
                %i
                  = image_tag "dropdown-arrow.png"
              %ul.dropdown-menu{style: "margin: -10px 0 0 22px"}
                - City.order(:name).each do |city|
                  %li.city-users
                    %a= city.name
              = text_field_tag "city", "", class: "field dropdown-toggle", :"data-toggle" => 'dropdown', placeholder: "Cities"
            .span8.left2.top2
              %h4.left2 Where are the #{@university.mascot}?
          .clearfix
          .list_carousel
            %ul.city-slide
              - City.order(:name).each do |city|
                %li
                  .users
                    = link_to "javascript:;" do
                      = display_image city.image, 'xlarge'
                      %span.fleft= city.name
                    .hovers{style: "text-align: center;"}
                      = link_to filter_users_path(user: {city: city.name}), remote: true do
                        %p
                          %h3.left2= "#{city.users.count} #{city.users.count == 1 ? 'people' : 'peoples'}" 

            %a.city-prev.prev{href: "#"} &lt;
            %a.city-next.next{href: "#"} &gt;
          .clearfix
          
          .span12.bottom2
            = render partial: "users/filter_options"
          
        #tab5.tab_content
          .span11.left2 
            %h4 Create Club
          .span11= render partial: "universities/club_form"

.hide= link_to "", "#users-popup", :"data-toggle" => "modal", id: "open-result"
#users-popup.modal.wide-modal.hide.fade{tabindex: "-1", role: "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true"}
  .modal-header
    %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
    %h3 Search Users Result
  #search-results.modal-body
  .clearfix
  .modal-footer
    %button.btn.btn-warning{type: "button", data: {dismiss: "modal"}} Close
.clearfix
.row-fluid
  .container
    .span10.offset2
      %ul.tabs4
        %li= link_to "Club Updates", "#tabss1"
        %li= link_to "College Updates", "#tabss"
      .tab_container
        #tabss1.tab_content2
          %ul.posts.newp
            - @club_updates.each do |update|
              %li
                = link_to "javascript:void(0);", class: 'avatr' do
                  %span{style: "padding-top: 0"}
                    - if update.image.blank?
                      No Image
                    - else
                      = image_tag update.image.thumb
                %h4= update.headline
                %p= update.body
                = link_to time_ago_in_words(update.created_at) + " ago", "javascript:void(0);", class: "com ncom"
                .clearfix
        #tabss.tab_content2
          %ul.posts.newp
            - @updates.each do |update|
              %li
                = link_to "javascript:void(0);", class: 'avatr' do
                  %span{style: "padding-top: 0"}
                    - if !update.image.blank?
                      No Image
                    - else
                      = image_tag update.image.thumb
                %p= update.body
                = link_to time_ago_in_words(update.created_at) + " ago", "javascript:void(0);", class: "com ncom"
                .clearfix

:javascript
  $(document).ready(function(){
    if("#{@club.errors.any?}" == "true"){
      $("#new-club").click();
      $(document).scrollTop( $("#new-club").offset().top );
    }
  });
