.row-fluid
  .container
    .span2.mar
      %ul.footer-column
        %li
          %h3 Sitemap header
        %li= link_to "link", "#"
        %li= link_to "link", "#"
        %li= link_to "link", "#"
    .span2.mar1
      %ul.footer-column
        %li
          %h3 Sitemap header
        %li= link_to "link", "#"
        %li= link_to "link", "#"
        %li= link_to "link", "#"
    .span2.mar1
      %ul.footer-column
        %li
          %h3 Sitemap header
        %li= link_to "link", "#"
        %li= link_to "link", "#"
        %li= link_to "link", "#"
    .span2.mar1
      %ul.footer-column
        %li
          %h3 Sitemap header
        %li= link_to "link", "#"
        %li= link_to "link", "#"
        %li= link_to "link", "#"
    .span2.mar1
      %ul.footer-column
        %li
          %h3 Sitemap header
        %li= link_to "link", "#"
        %li= link_to "link", "#"
        %li= link_to "link", "#"
    .offset2
.clearfix
.row-fluid
  .container
    .span12
      .cent
        %center &copy; Cahoots Connect - All right reserved
.clearfix
