.left-menu.mns
  %ul
    - if controller_name == "users" or controller_name == 'profiles'
      
    - else
      %li
        %i
        = link_to "#messages-popup", :"data-toggle" => "modal" do
          = image_tag('message.png')
          %br
          Messages
      %li
        %i
        = link_to "#requests-popup", :"data-toggle" => "modal" do
          %p= @requests.size
          = image_tag "request.png"
          %br
          Requests
      %li
        %i
        = link_to "#notifications-popup", :"data-toggle" => "modal" do
          %p 1
          = image_tag "request.png"
          %br
          Notifications

      #messages-popup.modal.wide-modal.hide.fade{tabindex: "-1", role: "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true"}
        .modal-body
          .left-side.msh
            %a{href: "#message-form", data: {toggle: "modal"}, class: "btn btn-success"} New Message
            %ul.msg
              - @messages.each do |message|
                %li{id: "message-#{message.id}"}
                  = link_to display_image(message.messages.first.sender.profile.image, "small"), read_message_path(message), remote: true
                  %h4= message.messages.first.sender.full_name
                  %br
                  %p= truncate(message.messages.first.body)
          #current_conversation.right-side
        .clearfix
        .modal-footer
          %button.btn.btn-warning{type: "button", data: {dismiss: "modal"}} Close

      #requests-popup.modal.wide-modal.hide.fade{tabindex: "-1", role: "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true"}
        .modal-body{style: "min-height: 200px;"}
          - if @requests.blank?
            %br
            .span11.top2
              %center
                %h4 No request
          - else
            .left-side
              %ul.msg.msh
                - @requests.each do |relationship|
                  %li{id: "request-#{relationship.id}"}
                    = link_to display_image(relationship.relation.profile.image, "thumb"), read_relationship_path(relationship), remote: true
                    %h4= relationship.relation.full_name
                    %br
                    %p= relationship.relation.graduation_year
            .right-side
              #current_request.comment-box.ne
                = render partial: "relationships/request", locals: {request: @requests.first} unless @requests.blank?
        .clearfix
        .modal-footer
          %button.btn.btn-warning{type: "button", data: {dismiss: "modal"}} Close

      #notifications-popup.modal.wide-modal.hide.fade{tabindex: "-1", role: "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true"}
        .modal-body{style: "min-height: 200px;"}
          .left-side
            %ul.msg.msh
              %li
                %a{href: "javascript:;"}
                  = image_tag "avatar-medium.png"
                %h4 Josh Compton
                %br
                %p 2013
              %li
                %a{href: "javascript:;"}
                  = image_tag "avatar-medium.png"
                %h4 Josh Compton
                %br
                %p 2014
          .right-side
            .comment-box.ne
              %a{href: "javascript:;", style: "margin-right: 25px;"}
                = image_tag "avatar-big.png"
              %p.comp
                Josh Compton update his experience.
              %br
              %button.btn.btn-success.btn7{style: "float: left;"} View Profile
              .clearfix
              %button.btn.btn-danger.fright{style: "margin-right: 50px"} Delete
        .clearfix
        .modal-footer
          %button.btn.btn-warning{type: "button", data: {dismiss: "modal"}} Close
      = render partial: "shared/new_message", locals: {top: 120}
- @requests.each do |request|
  .modal.hide.fade{id: "recommend-#{request.id}"}
    = simple_form_for(request, url: refer_relationship_path(request), method: 'post') do |f|
      .modal-header
        %button{type: "button", class: "close", data: {dismiss: "modal"}} &times;
        %h3 Recommend Another Contact
      .modal-body
        =# f.input :relation_id, collection: current_user.relationships.where(status: 'accepted').map(&:user), label_method: :full_name, value_method: :id
        =text_field_tag :relation_ids, "", class: 'contact-auto'
      .modal-footer
        = f.submit "Recommend Contact", class: "btn btn-success"
.clearfix