.row-fluid
  %nav.navbar
    .top-nav
      .container
        .img-container4{style: "min-height:0px !important; margin-top:-50px;"}
          %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .nav-collapse.collapse
            %ul.nav{style: "margin-top: 0"}
              %li.logo
                %a{href: "/"}
                  = image_tag('logo.png')
                %i
              %li.same
                %a{href: user_path(current_user)}
                  = image_tag('proffesional.png')
                  %br
                  Professional
                %i
              %li.same
                %a{href: "javascript:void(0);"}
                  = image_tag('community.png')
                  %br
                  Community
                %i
              %li.same
                %a{href: "javascript:void(0);"}
                  = image_tag('calender.png')
                  %br
                  Calendar
                %i
              %li.same
                %a{href: edit_user_registration_path(current_user.id)}
                  = image_tag('edit.png')
                  %br
                  Edit
                %i
              %li.same
                %a{href: "javascript:void(0);"}
                  = image_tag('settings.png')
                  %br
                  Settings
.clearfix