#navigation.col-md-1.no-padding
  .navbar
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag('logo.png'), root_path, class: 'visible-lg'

    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to current_user.university, "data-toggle" => "tooltip", "data-original-title" => "College", "data-placement" => "bottom", "data-link" => "universities" do
            %i.icon-same.margin5
              = image_tag('college-icon.png')
        %li
          = link_to university_clubs_path(current_user.university), "data-toggle" => "tooltip", "data-original-title" => "Clubs", "data-placement" => "bottom", "data-link" => "clubs" do
            %i.icon-same.margin5
              = image_tag('clubs-icon.png', class: "clubs-nav-link")
        %li
          = link_to user_profile_path(current_user, current_user.profile), "data-toggle" => "tooltip", "data-original-title" => "Network", "data-placement" => "bottom", "data-link" => "profiles" do
            %i.icon-same.margin5
              = image_tag('network-icon.png')
        %li
          = link_to communication_path, "data-toggle" => "tooltip", "data-original-title" => "Communications", "data-placement" => "bottom", "data-link" => "communication" do
            %i.icon-same.margin5
              = image_tag('communication-icon.png')
        %li
          = link_to university_events_path(current_user.university), "data-toggle" => "tooltip", "data-original-title" => "Events", "data-placement" => "bottom", "data-link" => "events" do
            %i.icon-same.margin5
              = image_tag('events-icon.png')
        %li
          %a{:href => "/users/edit", "data-toggle" => "tooltip", "data-original-title" => "Settings", "data-placement" => "bottom", "data-link" => "registrations"}
            %i.icon-same.margin5
              = image_tag('settings-icon.png')
        %li
          %a{:href => "/sign_out"} Logout

:javascript
  $('li a[data-link=#{controller_name.downcase}]').addClass('active-nav')

