.col-md-2.no-padding
  .navbar
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag('logo.png'), root_path, class: 'visible-lg'
    / navbar-header
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to current_user.university do
            %i.icon-same
              = image_tag('college-icon.png')
        %li
          = link_to university_clubs_path(current_user.university) do
            %i.icon-same.margin10
              = image_tag('clubs-icon.png')
        %li
          %a{:href => user_profile_path(current_user, current_user.profile)}
            %i.icon-same.margin5
              = image_tag('network-icon.png')
        %li
          %a{:href => communication_path}
            %i.icon-same.margin5
              = image_tag('communication-icon.png')
        %li
          %a{:href => university_events_path(current_user.university)}
            %i.icon-same.margin5
              = image_tag('events-icon.png')
        %li
          %a{:href => "/users/edit"}
            %i.icon-same.margin5
              = image_tag('settings-icon.png')
        %li
          %a{:href => "/sign_out"} Logout
