.row-fluid
  %nav.navbar
    .top-nav
      .container
        .img-container3
          %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .nav-collapse.collapse
            %ul.nav
              %li.logo
                %a{href: "/"}
                  = image_tag('logo.png')
                %i
              %li.same
                %a{href: "javascript:void(0);"}
                  = image_tag('proffesional.png')
                  %br
                  Professional
                %i
              %li.same
                %a{href: "javascript:void(0);"}
                  = image_tag('community.png')
                  %br
                  Community
                %i
              %li.same
                %a{href: "javascript:void(0);"}
                  = image_tag('calender.png')
                  %br
                  Calendar
                %i
              %li.same
                %a{href: "javascript:void(0);"}
                  = image_tag('edit.png')
                  %br
                  Edit
                %i
              %li.same
                %a{href: "javascript:void(0);"}
                  = image_tag('settings.png')
                  %br
                  Settings
.clearfix

