.row-fluid
  %nav.navbar
    .top-nav
      .container
        .top-menu-container
          %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .nav-collapse.collapse
            %ul.nav
              %li.logo
                %a{href: "/"}
                  = image_tag('old_images/logo.png')
                %i
              %li.same
                %a{href: user_path(current_user)}
                  = image_tag('old_images/proffesional.png')
                  %br
                  Professional
                %i
              %li.same
                %a{href: "/"}
                  = image_tag('old_images/community.png')
                  %br
                  Community
                %i
              %li.same
                %a{href: university_university_events_path(current_user.university)}
                  = image_tag('old_images/calender.png')
                  %br
                  Calendar
                %i
              %li.same
                %a{href: edit_user_profile_path(current_user, current_user.profile)}
                  = image_tag('old_images/edit.png')
                  %br
                  Edit
                %i
              %li.same
                %a{href: edit_user_registration_path}
                  = image_tag('old_images/settings.png')
                  %br
                  Settings
.clearfix
