#navigation.col-md-1.no-padding
  .navbar
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag('logo.png'), root_path, class: 'visible-lg'

    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "college.html"}
            %i.icon-same
              = image_tag('college-icon.png')
        %li
          %a{:href => "clubs"}
            %i.icon-same.margin5
              = image_tag('clubs-icon.png', width:"90%")
        %li
          %a{:href => "network.html"}
            %i.icon-same.margin5
              = image_tag('network-icon.png')
        %li
          %a{:href => "communication.html"}
            %i.icon-same.margin5
              = image_tag('communication-icon.png')
        %li
          %a{:href => "events.html"}
            %i.icon-same.margin5
              = image_tag('events-icon.png')
        %li
          %a{:href => "settings.html"}
            %i.icon-same.margin5
              = image_tag('settings-icon.png')
        %li
          %a{:href => "#"} Logout

:javascript
  $('li a:contains(#{action_name.capitalize})').addClass('active-nav')
