!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "::&gt; Cahoots Connect &lt;::".html_safe
    %meta{:content => content_for?(:description) ? yield(:description) : "Cahoots Connect", :name => "description"}
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

  %body{:class => "#{controller_name}-#{action_name}"}
    .container-fluid
      %header
        = render 'layouts/navigation'
        .row-fluid.span12.no-lmar
          .container
            .span2
              = render partial: "layouts/left_menu"
            .span10{style: "min-height: 435px;"}
              - @bg_style ||= ""
              %div{class: "bg-image bg-image2", style: "#{@bg_style}"}
                - unless controller_name=="search"
                  .offset9.search_all
                    %a#search-btn.btn.btn2.btn-success{style: "margin-right: 10px;", href: "javascript:;"}
                      %i
                        = image_tag('search-icon.png')
                    %input#search_field.field{name: 'search_field', type: 'text'}
                    = link_to "Advanced", search_path, class: 'advance'
                = yield(:header)
      .seps
      = yield
      .clearfix
      .row-fluid
        .container
          .span12
            .seperator
      .clearfix
      = render 'layouts/footer'