!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "OnCahoots".html_safe
    %meta{:content => content_for?(:description) ? yield(:description) : "OnCahoots", :name => "description"}
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = javascript_include_tag "https://js.stripe.com/v1/"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_action_specific
    = csrf_meta_tags
    = yield(:head)
  %body
    - id = controller_name
    - id = "college" if id=='universities'
    - id = "network" if id=='profiles'
    = render 'layouts/navigation'
    .container-full{:id => "#{id}"}
      .row
        #content-container.col-md-12.no-padding
          .row#content-top-bar
            - if controller_path == 'universities'
              .col-md-6.no-padding.title
                = yield :page_title
              .col-md-6.no-padding
                = render 'shared/search'
            - else
              .col-md-7.no-padding.title
                = yield :page_title
              .col-md-5.no-padding
                = render 'shared/search'
          .row#content-main
            - if @full_page == true
              .col-md-12.no-padding
                = render 'layouts/messages'
                = yield :full_page
            - else
              = render 'layouts/messages'
              .col-md-7.no-padding.scroll-section
                = yield :left_side
              .col-md-5.no-padding.scroll-section
                = yield :right_side
          .row.auto-height
            .span12#bottom-alert(style='display:none')
        = yield :bottom
        = render 'layouts/inspectlet' if Rails.env.production?
