!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "::&gt; Cahoots Connect &lt;::".html_safe
    %meta{:content => content_for?(:description) ? yield(:description) : "Cahoots Connect", :name => "description"}
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

  %body
    .container-fluid
      %header
        = link_to "logout", destroy_user_session_path, class: 'logout', :method=> :delete
        = render 'layouts/search'
        = render 'layouts/nav_without_bg'
        .row-fluid
          .container
            .span2
              .left-menu
                %ul
                  %li
                    %i
                    %a{href: "javascript:void(0);"}
                      = image_tag "jobs.png"
                      %br
                      Jobs
            .span10
              = yield
        - if can_view?(current_user, @user)
          = yield(:content_bottom)
      .seps
      .row-fluid
        .container
          .span12
            .seperator
      = render 'layouts/footer'